.z-depth-1 {
  @include box-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
}
.z-depth-2 {
  @include box-shadow(0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23));
}
.z-depth-3 {
  @include box-shadow(0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23));
}
.z-depth-4 {
  @include box-shadow(0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22));
}
.z-depth-5 {
  @include box-shadow(0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22));
}