.catalog-list {
  position: relative;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      padding: 10px;
      font-size: 18px;
      text-transform: uppercase;
      cursor: pointer;
      &.active {
        border-left: 3px solid $color-red;
      }
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}
.content-list {
  position: relative;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &--card {
    margin: 0;
    padding: 0;
    background-color: $white;
    border-radius: 5px;
  }
  &--card-img {
    position: relative;
    width: 100%;
    height: 240px;
    @media screen and(max-width: $screen-sm){
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }
  &--card-content {
    padding: 10px;
    color: $color-base;
    h3 {
      font-size: 14px;
      font-weight: bold;
      &.centering-- {
        text-align: center;
        margin-top: 10px;
      }
    }
    p {
      opacity: 0.8;
    }
    .location, .time, .discount {
      padding: 0;
      margin: 0;
      font-size: 13px;
      &.open {
        color: $color-green;
      }
      &.close {
        color: $color-red;
      }
    }
    .content-point {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      span {
        font-size: 15px;
        img {
          width: 16px;
          height: 16px;
        }
        &:first-child {
          color: $color-red;
        }
        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
  &--card-content-action {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    .point_ {
      color: $color-red;
      font-weight: 500;
    }
    .buy_ {
      background-color: #f8725a;
      border: none;
      border-radius: 4px;
      padding-top: 3px;
      padding-bottom: 2px;
      padding-left: 25px;
      padding-right: 25px;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

img.discount {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
}