.container {
  padding-top: 0;
  padding-bottom: 0;
}
#dashboard {
  .v-content__wrap {
    overflow-x: hidden; 
  }
  .v-list__group__header__prepend-icon i {
    color: #fff!important;
  }
  .v-menu__content {
    .v-list {
      .v-list__tile__action {
        min-width: 30px;
        i {
          font-size: 18px;
        }
      }
      .v-list__tile {
        font-size: 14px;
      }
    }
  }
  font-family: 'Ubuntu', sans-serif;
  .box-shadow {
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  }
  .dashboard__ {
    button {
      outline: none;
    }
    .auth--admin {
      padding-left: 30px;
      padding-right: 15px;
      position: relative;
      top: 40px;
      .ids {
        display: none;
      }
      .name {
        font-size: 16px;
        color: #f2f2f2;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.8;
      }
      .email {
        color: #f2f2f2;
        opacity: 0.6;
      }
    }
    .avatar {
      .v-list__tile {
        height: 80px;
        background-color: #e4e4e4;
        .v-list__tile__content {
          font-weight: normal;
          font-size: 15px;
        }
      }
    }
    .v-toolbar {
      background-color: #fff;
      color: #222;
      &.no-border {
        box-shadow: none!important;
      }
      .v-toolbar__content {
        .v-toolbar__title {
          font-weight: 600;
          background-color: rgb(195, 49, 29);
          padding: 15px;
          position: relative;
          left: -30px;
          color: #fff;
          width: 306px;
          text-align: center!important;
          cursor: pointer;
          &.title-white {
            background-color: #fff;
            padding: 15px;
            color: #222;
          }
        }
      }
    }
    .v-navigation-drawer {
      .v-list {
        .v-list__tile {
          font-weight: 600;
          color: #f2f2f2;
        }
      }
    }
    .application .theme--dark.v-text-field--solo-inverted.v-text-field--solo .v-input__slot, .theme--dark .v-text-field--solo-inverted.v-text-field--solo .v-input__slot {
      background: rgba(110, 108, 108, 0.18);
    }
    .v-list--dense .v-list__tile:not(.v-list__tile--avatar) {
      height: 60px;
    }
    .v-list__tile__content {
      text-transform: uppercase;
      font-weight: 100;
    }
    .v-navigation-drawer .v-list {
      margin-top: 60px;
    }
    .header__ {
      background-color: rgb(195, 49, 29);
      width: 103%;
      height: 100px;
      display: block;
      z-index: -100;
      margin-left: -15px;
      color: #f2f2f2;
      @media screen and(max-width: $screen-sm) {
        width: 110%;
      }
      &heading {
        position: relative;
        padding: 20px;
        ol {
          padding: 0;
          margin: 0;
          li {
            display: inline-block;
            font-size: 20px;
            text-transform: uppercase;
            font-family: 'Ubuntu', sans-serif;
            letter-spacing: 4px;
          }
        }
      }
    }
    .content__ {
      position: relative;
      width: 100%;
      font-family: 'Ubuntu', sans-serif;
      &wrapper {
        width: 100%;
        margin-top: -40px;
      }
    }
    .content___ {
      width: 100%;
      background-color: $white;
      padding: 10px;
      min-height: 200px;
      .box, .box-tracking {
        padding: 20px;
        .pointer__ {
          cursor: pointer;
        }
        h2 {
          font-size: 22px;
          font-weight: 500;
        }
        h3 {
          font-size: 18px;
          font-weight: 500; 
        }
        p {
          color: #aaa;
          i {
            position: relative;
            top: 4px;
          }
          &.sub_ {
            color: #404040;
          }
        }
        a {
          color: #aaa;
          &:hover {
            opacity: 0.8;
            color: #aaa;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            display: block;
            float: none;
            color: #aaa;
            font-size: 14px;
            padding: 5px 0;
            border-bottom: 1px dotted $border-base;
            &:first-child {
              border-top: 1px dotted $border-base;
            }
          }
        }
      }
      .box {
        .box__title-bg {
          background: #f2f2f2; padding: 15px;
          .absolute-btn {
            right: 0; top: -55px
          }
        }
        .fab-btn {
          position: absolute;
          top: 30px;
          right: 0;
        }
        button {
          margin-left: 0;
        }
      }
      .card-table {
        .v-card__title {
          padding-top: 0;
        }
        .v-text-field .v-input__slot:before {
          border-color: $border-base;
        }
      }
    }
  }
}

.theme--light .v-text-field .v-input__slot:before, .application .theme--light.v-text-field .v-input__slot:before {
  background-color: $border-base;
}

.theme--light .v-text-field:not(.v-input--has-state) .v-input__slot:hover:before, .application .theme--light.v-text-field:not(.v-input--has-state) .v-input__slot:hover:before {
  background-color: $border-base;
  opacity: 0.8;
}

// Transition
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.v-text-field--box .v-input__slot {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-radius: 4px;
}
.theme--light .v-text-field .v-input__slot:before, .application .theme--light.v-text-field .v-input__slot:before {
    background-color: #d5d5d5;
}
.v-text-field--box .v-input__slot:before {
    border-style: solid;
    border-width: 0!important;
}
.avatar__preview {
  position: relative;
  width: 100px;
  height: 100px;
  background: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 100%;
  img {
    border-radius: 100%;
  }
  button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.2784);
  }
  label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    cursor: pointer;
    text-align: center;
  }
  .avatar, input[type=file] {
    display: none;
  }
}