.header--category-dropdown, .header--search-dropdown {
  position: absolute;
  left: 10px;
  top: 30px;
  z-index: 11;
  min-width: 150px;
  background-color: $white;
  color: $color-base;
  border: 1px solid $color-red;
  padding: 10px;
  border-radius: 2px;
  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    > li {
      position: relative;
      display: block!important;
      color: $color-base;
      padding: 20px 0;
      cursor: pointer;
      img {
        padding-right: 10px;
      }
      > a {
        position: absolute;
        top: 8px;
        bottom: 0;
        left: 0;
        right: 0;
        color: $color-base;
        text-decoration: none;
        padding: 0!important;
        &:hover {
          color: $color-base;
          opacity: 0.8;
        }
      }
    }
  }
}
.header--search-dropdown {
  left: unset!important;
  right: 60px;
}
.header--login-dropdown {
  position: absolute;
  right: 0;
  top: 38px;
  z-index: 11;
  min-width: 330px;
  background-color: $white;
  color: $color-base;
  padding: 15px;
  .base-input {
    width: 100%;
    outline: none;
    border: 1px solid $color-9;
    border-radius: 2px;
    margin: 5px 0;
    padding: 8px 20px;
  }
  .base-btn {
    width: 100%;
    outline: none;
    border: 1px solid $bg-red; 
    border-radius: 3px;
    padding: 8px 20px;
    background-color: $bg-red;
    color: $white;
    cursor: pointer;
    &.disabled {
      background-color: #aaa;
      border: 1px solid #aaa;
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  .flat-btn {
    width: 100%;
    outline: none;
    border: 1px solid $bg-red; 
    border-radius: 3px;
    padding: 8px 20px;
    color: $color-base;
    background-color: transparent;
    cursor: pointer;
  }
  .login-tabs {
    border-bottom: 3px solid $bg-blue;
    margin-bottom: 10px;
    display: flex;
    .tabs-panel {
      position: relative;
      padding-right: 20px;
      margin-right: 20px;
      padding-bottom: 5px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      &.active {
        border-bottom: 3px solid $bg-red;
        box-sizing: border-box;
        margin-bottom: -3px;
      }
    }
  }
  .or-with {
    text-align: center;
    position: relative;
    &:after {
      content: '';
      width: 70px;
      background-color: $color-9;
      position: absolute;
      height: 1px; 
      top: 10px;
      left: 0;
    }
    &:before {
      content: '';
      width: 70px;
      background-color: $color-9;
      position: absolute;
      height: 1px; 
      top: 10px;
      right: 0;
    }
  }
}