#footer {
  margin-top: 40px;
  // border-top: 3px solid $color-red;
  .footer-row {
    @include flexbox();
    @include justify-content(space-beetwen)
    @media screen and(max-width: $screen-sm){
      display: block;
    }
    .footer-col {
      width: 33%;
      @media screen and(max-width: $screen-sm){
        width: 100%;
        margin-bottom: 20px;
      }
      h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      ul {
        list-style: none;
        padding: 0 4px;
        margin: 0;
        li {
          padding: 5px 0;
          a {
            color: $color-base;
            text-decoration: none;
            &:hover {
              color: $color-base;
              text-decoration: none;
            }
          }
        }
      }
      &.download {
        border-radius: 2px;
        padding: 10px 5px;
        .download-laystore {
          @include flexbox();
          @include align-items(center);
          font-weight: bold;
        }
      }
    }
  }
} 
.footer-copyright {
  height: 80px;
  .copyright {
    padding: 20px 0;
    text-align: center;
    color: $color-base
  }
}