.grid- {
  display: grid;
  grid-template-columns: 45% 27.5% 27.5%;
  background-color: #fff;
  color: #444;
  &wide {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2;
    display: grid;
    &--feature {
      position: relative;
      width: 100%;
      height: 300px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .follow-us {
        text-align: center;
        font-size: 22px;
        margin-top: 70px;
        text-transform: uppercase;
      }
    }
  }
  &normal {
    position: relative;
    grid-column: 2 / 3; ;
    grid-row: 2 ;
    height: 300px;
    &--feature {
      position: relative;
      width: 100%;
      height: 300px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &height {
    position: relative;
    grid-column: 3 ;
    grid-row: 1 / 3;
    height: 600px;
    &--feature {
      position: relative;
      width: 100%;
      height: 600px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .with-overlay {
    position: relative;
    .with-overlay-feature {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      h3 {
        padding: 15px;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}