.section {
  margin: 10px 0;
}
h2.heading_ {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}
.section_non-base {
  margin-top: -10px;
}
.heading-base {
  padding: 12px 0;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  .more {
    color: $color-grey;
    font-size: 14px;
    a {
      color: $color-grey;
      text-decoration: none;
      &:hover {
        color: $color-grey;
        opacity: 0.8;
      }
    }
  }
}