/* ~ Header */
#app_header {
  position: relative;
  height: 60px;
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    height: 55px;
    padding: 10px 0;
    background-color: $white;
    color: $white;
    &--wrapper {  
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
    }
    &--section {
      @include flexbox();
      @include justify-content(space-between);
      flex-grow: 1;
      .header--search_ {
        position: relative;
        @media screen and(max-width: $screen-md) {
          display: none;
        }
        .search-input {
          width: 0px;
          position: absolute;
          top: -2px;
          right: 0;
          @include transition(0.3s ease-out);
          &.open {
            width: 200px;

            @include transition(0.3s ease-in);
          }
        }
        .search-icon {
          position: absolute;
          right: 0;
          @include transition(0.3s ease-out);
          &.open {
            position: absolute;
            top: 3px;
            right: 170px;
            @include transition(0.3s ease-in);
          }
        }
        input  {
          outline: none;
          padding: 2px 10px;
          border: none;
          color: $color-base;
          &.open {
            font-size: 14px;
            border-radius: 3px;
            padding-left: 35px;
            padding-top: 4px;
            border: 1px solid $color-red;
          }
        }
        img {
          cursor: pointer;
        }
      }
      .header--nav {
        position: relative;
        @media screen and(max-width: $screen-md) {
          display: none;
        }
        > ul {
          padding: 0;
          margin: 0;
          list-style: none;
          > li {
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 500;
            > a {
              padding: 14px 15px;
              color: $black;
              text-decoration: none;
              &.router-link-exact-active.router-link-active {
                border-bottom: 3px solid $color-red;
              }
            }
          }
        }
      }
      .header--category {
        position: relative;
        .header--category-finder {
          position: relative;
          i {
            position: absolute;
            top: 8px;
            right: 10px;
            color: #7498bb;
            cursor: pointer;
          }
        }
        #select_category {
          font-size: 13px;
          outline: none;
          width: 100px;
          background-color: $white;
          color: $color-red-dark;
          padding: 9px 10px;
          border-radius: 1px;
          border: none;
          margin: 0 10px;
          cursor: pointer;
        }
        input {
          font-size: 13px;
          outline: none;
          max-width: 120px;
          padding: 10px;
          border-radius: 2px;
          border: none;
          margin: 0 10px;
          cursor: pointer;
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: $color-base;
              opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $color-base;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
              color: $color-base;
          }
          &:disabled {
            background: $white;
          }
        }
      }
      .header--search {
         flex-grow: 2;
         margin-right: 10px;
         img {
          cursor: pointer;
         }
        .input-search-column{
          position: relative;
          #input_search {
            position: relative;
            font-size: 13px;
            outline: none;
            width: 100%;
            padding: 10px;
            border-radius: 1px;
            border: none;
            background-color: $white;
            @include transition(0.3s ease-in);
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: $color-red-dark;
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: rgba(255,255,255,0.7);
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: rgba(255,255,255,0.7);
            }
            &:focus {
              // background-color: $color-red-dark;
              opacity: 0.9;
              @include transition(0.3s ease-out);
              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(255,255,255,0.7);
                opacity: 1; /* Firefox */
              }

              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba(255,255,255,0.7);
              }

              &::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba(255,255,255,0.7);
              }
            }
          }
          #input_search-category {
            position: absolute;
            right: 90px;
            top: 9px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            max-width: 100%;
            text-align: right;
            color: $color-red;
            font-size: 13px;
          }
          i {
            position: absolute;
            right: 60px;
            top: 8px;
            color: #7498bb;
            cursor: pointer;
          }
          .search-head-btn {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 60px;
            background-color: $color-base;
            outline: none;
            border: none;
            padding: 8px;
            font-size: 14px;
            color: $color-red;
            cursor: pointer;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            @include transition(0.3s ease-in);
            // &:hover {
            //   @include transition(0.3s ease-out);
            //   opacity: 0.8;
            // }
          }
        }
      }
    }
    &--logo {
      max-width: 145px;
      max-height: 50px;
      margin-right: 20px;
      img {
        max-width: 145px;
        max-height: 50px;
      }
    }
    &--login {
      position: relative;
      margin-right: 5px;
      img {
        cursor: pointer;
      }
      .login-head-btn {
        background-color: $color-red-dark;
        outline: none;
        border: none;
        border-radius: 2px;
        padding: 8px 20px;
        font-size: 14px;
        color: $white;
        cursor: pointer;
        @include transition(0.3s ease-in);
        &:hover {
          background-color: $color-base;
          color: $white;
          @include transition(0.3s ease-out);
        }
      }
    }
    &--hamburger-menu {
      cursor: pointer;
    }
  }
  .header-layer {
    background-color: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}