/* ~ Initial */
body {
  color: $color-base;
  background-color: $bg-base;
}
body, html {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  font-family: 'Catamaran', sans-serif;
}
.not-found {
  padding: 100px;
  text-align: center;
}
.social {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 10px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}