#login {
  padding: 0 15px;
  margin: 84px auto;
  width: 100%;
  max-width: 450px;
  background-color: $white;
  padding: 50px;
  -webkit-box-shadow: 0 0 16px 5px rgba(98,98,98,.16);
  box-shadow: 0 0 16px 5px rgba(98,98,98,.16);
  .v-list__tile {
    padding: 0;
    a {
      color: $color-base;
    }
    .v-list__tile__content {
      font-size: 14px;
    }
  }
  p {
    color: #aaa;
  }
  button.primary-btn {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}