.promo-slide {
  width: 100%;
  img {
    width: 100%;
  }
  .slide-pagination {
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background: $white;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: $bg-red;
    }
  }
}

.tracking-slider {
  .card--sliders {
    margin: 10px 0;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    .card--sliders-icon {
      width: 25%;
      max-width: 80px;
      height: 80px;
      font-size: 40px;
      text-align: center;
      padding-top: 20px;
      background-color: #C30005;
      border-radius: 100%;
      color: #fff;
    }
    p {
      width: 70%;
      font-size: 20px;
      margin-top: 10px;
      margin-left: 10px;
      opacity: 0.7;
    }
  }
}