.tags {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    @include flexbox();
    @include justify-content(start);
    @include flex-wrap(wrap);
    @include align-items(center);
    li {
      list-style: none;
      margin-bottom: 5px;
      a {
        color: $color-base;
        text-decoration: none;
        border: 1px solid $color-red;
        border-radius: 3px;
        padding: 5px 20px;
        margin-right: 10px;
        @include flexbox();
        @include align-items(center);
        &:hover {
          color: $color-base;
          text-decoration: none;
          opacity: 0.8;
          @include transition(0.3s ease-out);
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
}