//=======================
// Global Variable
//======================

/* Base Color
---------------------------------------------------*/
$color-base: #272727 !default;
$color-grey: #787878 !default;
$color-2: #222222 !default;
$color-3: #333333 !default;
$color-4: #444444 !default;
$color-5: #555555 !default;
$color-6: #666666 !default;
$color-9: #999999 !default;
$color-a: #aaaaaa !default;
$color-c: #cccccc !default;
$color-pink: #f54867 !default;
$color-red:  #C30005 !default;
$color-red-dark: #bc0002 !default;
$color-red-light: #ff7c5b !default;
$color-yellow: #FBFFA3 !default;
$color-green: #4CD964 !default;
$black: #000000 !default;
$white: #ffffff !default;
$soft-white: #fbfbfb !default;
$grey: #eeeeee !default;
$price-color: rgb(255, 153, 0) !default;
$star-color: #F6B001 !default;

/* Base Background Color 
---------------------------------------------------*/
$bg-base: #ffffff !default;
$bg-blue: #001b37 !default;
$bg-blue-light: #128df0 !default;
$bg-red: #C30005 !default;
$bg-pink: #f54867 !default;
$bg-2: #373435 !default;

// $body-base: #f2f2f2 !default;
// $sidebar-bg: #e0e0e0 !default;
// $bg-secondary: #444 !default;

/* Border Color 
---------------------------------------------------*/
$border-base: #d5d5d5 !default;
$border-1: #eeeeee !default;
$border-2: #EFEFEF !default;

/* Link Color
---------------------------------------------------*/
// $link-base: #444444 !default;
// $sidebar-link: #2e3132 !default;
// $hover-link: #999999 !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-size-base: 1rem !default;
$font-size-large: 1.5rem !default;
$font-size-medium: 1.1250rem !default;
$font-size-small: 0.8750rem !default;
$font-size-extra-small  : 0.7500rem !default;

$font-size-h1: 3rem !default;
$font-size-h2: 2.125rem !default;
$font-size-h3: 1.625rem !default;
$font-size-h4: 1.1250rem !default;
$font-size-h5: 0.8750rem !default;
$font-size-h6: 0.7500rem !default;

$line-height-base: 25px !default;
$line-height-headings-single: 1.1 !default;
$line-height-h1: (48 + 12) / 48 !default;
$line-height-h2: (34 + 12) / 34 !default;
$line-height-h3: (26 + 12) / 26 !default;
$line-height-h4: (18 + 12) / 18 !default;
$line-height-h5: (14 + 10) / 14 !default;
$line-height-h6: (12 + 10) / 12 !default;


/* Share Color
------------------------------------------------------ */
$facebook-color: #3b5998 !default;
$twitter-color: #1da1f2 !default;
$google-color: #e3411f !default;
$youtube-color: #ca3737 !default;
$linkedin-color: #0077b5 !default;

/* 
 * Media queries breakpoints
 * --------------------------------------------------- */

// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-max: 479px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-sm-max: 767px !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-md-max: 991px !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-max: 1199px !default;
$screen-lg-desktop: $screen-lg-min !default;

// Super Large screen
$screen-hero: 1400px !default;