<template>
 <div class="content__">
   <div class="header__">
      <div class="header__heading">
        <ol>
          <li>Users</li>
        </ol>
      </div>
    </div>
    <v-layout>
      <div class="content__wrapper">
        <div class="content___ box-shadow">
          <div class="box card-table">
            <div class="fab-btn">
              <v-btn id="AdduserData" class="btn__" color="primary" ripple fab medium dark @click="add">
                <v-icon>add</v-icon>
              </v-btn>
            </div>
            <v-card-title>
              Data Users
              <v-spacer></v-spacer>
              <v-text-field
                id="userSearch"
                v-model="dataTable.search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="dataTable.headers"
              :items="dataTable.data"
              :search="dataTable.search"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-left">{{ props.item.email }}</td>
                <td class="text-xs-left">{{ props.item.created_at | moment("MM/DD/YYYY") }}</td>
                <td class="justify-start layout px-0">
                  <v-icon
                    id="UserView"
                    small
                    class="mr-3 pt-3"
                    title="view"
                    @click="view(props.item.id)"
                  >
                    visibility
                  </v-icon>
                  <!-- <v-icon
                    small
                    class="mr-3 pt-3"
                    title="edit"
                    @click="edit(props.item.id)"
                  >
                    edit
                  </v-icon> -->
                  <v-icon
                    id="UserDel"
                    small
                    class="pt-3"
                    title="delete"
                    @click="getDeleteId(props.item.id)"
                  >
                    delete
                  </v-icon>
                </td>
              </template>
              <v-alert slot="no-results" :value="true" icon="warning" outline>
                Your search for "{{ dataTable.search }}" found no results.
              </v-alert>
            </v-data-table>

            <!-- View Dialog -->
            <v-dialog v-model="viewDialog" max-width="400">
              <v-card>
                <v-card-title class="headline">Detail</v-card-title>
                <v-divider></v-divider>
                <v-card-text v-if="dataTable.detail">
                  <img v-if="dataTable.detail.avatar.url !== null" :src="dataTable.detail.avatar.url" alt="avatar" width="50" height="50" style="border-radius: 100%">
                  <hr>
                  <b>Name</b>: {{dataTable.detail.name}}<hr>
                  <b>Email</b>: {{dataTable.detail.email}}<hr>
                  <b>Created</b>: {{ dataTable.detail.created_at | moment("MM/DD/YYYY") }}<hr>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn color="green darken-1" flat @click.native="viewDialog = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- View Dialog -->

            <!-- Create Dialog start -->
            <v-dialog v-model="createDialog" max-width="400">
              <v-card>
                <v-card-title class="headline">Add User</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-form v-model="createForm.valid" ref="createForm">
                    <div class="avatar__preview" v-if="createForm.imagePreview === ''">
                      
                      <label for="avatar">
                        Avatar
                      </label>
                      <input  type="file" id="ImgAva" name="avatar" ref="avatarFile" @change="handleImage" accept="image/*"> 
                    </div>
                    <div v-else class="avatar__preview">
                      <img :src="createForm.imagePreview" width="100" height="100"/>
                      <button id="RemAva" type="button" @click="removeImage">Hapus avatar</button> 
                    </div>
                   <v-text-field
                      v-model="createForm.name"
                      label="Name"
                      placeholder="Name"
                      :rules="createForm.nameRules"
                      box
                      required
                      id="edeKUndk"
                    ></v-text-field>
                    <v-text-field
                      v-model="createForm.email"
                      label="E-mail"
                      placeholder="E-mail"
                      :rules="createForm.emailRules"
                      box
                      required
                      id="ter78hsw9"
                    ></v-text-field>
                    <v-text-field
                      v-model="createForm.password"
                      label="Password"
                      placeholder="Password"
                      :rules="[createForm.passwordRules.required, createForm.passwordRules.min]"
                      :append-icon="createForm.show1 ? 'visibility' : 'visibility_off'"
                      :type="createForm.show1 ? 'text' : 'password'"
                      @click:append="createForm.show1 = !createForm.show1"
                      box
                      required
                      id="ketq728sdq31"
                    ></v-text-field>
                    <v-text-field
                      v-model="createForm.password_confirmation"
                      label="Confirmation Password"
                      placeholder="Confirmation Password"
                      :rules="[createForm.passwordRules.required, createForm.passwordRules.passwordMatch]"
                      :append-icon="createForm.show2 ? 'visibility' : 'visibility_off'"
                      :type="createForm.show2 ? 'text' : 'password'"
                      @click:append="createForm.show2 = !createForm.show2"
                      box
                      required
                      id="tetrtetrtetr"
                    ></v-text-field>
                  </v-form>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn color="green darken-1" flat @click.native="createDialog = false">Cancel</v-btn>
                  <v-btn color="green darken-1" flat @click="create" :disabled="!createForm.valid" id="kwkkwkwk">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- Create Dialog end-->

            <!-- Create Dialog start -->
            <v-dialog v-model="editDialog" max-width="400">
              <v-card>
                <v-card-title class="headline">Edit User</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-form v-model="editForm.valid" ref="editForm">

                    <div class="avatar__preview" v-if="editForm.imageEditPreview === ''">
                      <!-- <div v-if="dataTable.detail">
                        <img v-if="dataTable.detail.avatar.url !== null" :src="dataTable.detail.avatar.url" width="100" height="100">
                      </div> -->
                      <label for="avatarEdit">
                        Avatar
                      </label>
                      <input class="avatar" type="file" id="avatarEdit" name="avatarEdit" ref="avatarEditFile" @change="handleImageEdit" accept="image/*"> 
                    </div>
                    <div v-else class="avatar__preview">
                      <img :src="editForm.imageEditPreview" width="100" height="100"/>
                      <button type="button" @click="removeImageEdit">Hapus avatar</button> 
                    </div>
                    <v-text-field
                      v-model="editForm.name"
                      label="Name"
                      placeholder="Name"
                      :rules="editForm.nameRules"
                      box
                      required
                      id="fweofs2y2"
                    ></v-text-field>
                    <v-text-field
                      v-model="editForm.email"
                      label="E-mail"
                      placeholder="E-mail"
                      :rules="editForm.emailRules"
                      box
                      required
                      id="larIUIda"
                    ></v-text-field>
                    <v-text-field
                      v-model="editForm.password"
                      label="Password"
                      placeholder="Password"
                      :rules="[editForm.passwordRules.required, editForm.passwordRules.min]"
                      :append-icon="editForm.show1 ? 'visibility' : 'visibility_off'"
                      :type="editForm.show1 ? 'text' : 'password'"
                      @click:append="editForm.show1 = !editForm.show1"
                      box
                      required
                      id="oud7qio0"
                    ></v-text-field>
                    <v-text-field
                      v-model="editForm.password_confirmation"
                      label="Confirmation Password"
                      placeholder="Confirmation Password"
                      :rules="[editForm.passwordRules.required, editForm.passwordRules.passwordMatch]"
                      :append-icon="editForm.show2 ? 'visibility' : 'visibility_off'"
                      :type="editForm.show2 ? 'text' : 'password'"
                      @click:append="editForm.show2 = !editForm.show2"
                      box
                      required
                      id="khsuqp009"
                    ></v-text-field>
                  </v-form>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>

                  <v-btn color="green darken-1" flat @click.native="editDialog = false">Cancel</v-btn>
                  <v-btn color="green darken-1" flat @click="update(editId)" :disabled="!editForm.valid" id="kedyroajd">Save</v-btn>
                  
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- Create Dialog end-->

            <!-- Destroy Dialog start -->
            <v-dialog
              v-model="destroyDialog"
              max-width="300"
            >
              <v-card>
                <v-card-title class="headline">Are you sure to delete this User?</v-card-title>

                <v-card-text>
                  Please choose your answer
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn
                    id="UserDisagree"
                    color="green darken-1"
                    flat="flat"
                    @click="destroyDialog = false"
                  >
                    Disagree
                  </v-btn>

                  <v-btn
                    id="UserAgree"
                    color="green darken-1"
                    flat="flat"
                    @click="destroy(deleteId)"
                  >
                    Agree
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- Destroy Dialog end -->

            <!-- Post Dialog start-->
            <v-dialog v-model="postDialog" persistent max-width="290">
              <v-card>
                <v-card-text> 
                  <v-progress-circular
                    :size="30"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  Please wait...
                </v-card-text>
              </v-card>
            </v-dialog>
            <!-- Post Dialog end -->

            <v-snackbar
              v-model="snackbar"
              :bottom="true"
              :timeout="6000">
              {{snackbarText}}
              <v-btn
                id="UserClose"
                color="pink"
                flat
                @click="snackbar = false"
              >
                Close
              </v-btn>
            </v-snackbar>

          </div>
        </div>
      </div>
    </v-layout>
 </div>
</template>

<script>  
import api from '@/helpers/api'
export default {
  layout: 'adminDashboard',
  name: 'adminUser',
  data () {
    return {
      postDialog: false,
      viewDialog: false,
      createDialog: false,
      editDialog: false,
      destroyDialog: false,
      snackbar: false,
      snackbarText: '',

      dataTable: {
        search: '',
        headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Email', value: 'email' },
          { text: 'Created', value: 'created_at' },
          { text: 'Actions', value: 'name', sortable: false }
        ],
        data : [],

        //View,Edit
        detail: null,
        edit: null,
      },

      createForm: {
        imagePreview: '',
        avatar: null,

        valid: false,
        name: '',
        nameRules: [
          v => !!v || 'Name is required',
        ],
        username: '',
        usernameRules: [
          v => !!v || 'Username is required',
        ],
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => (v && /.+@.+/.test(v)) || 'E-mail must be valid'
        ],
        password: '',
        password_confirmation: '',
        show1: false,
        show2: false,
        passwordRules: {
          required: v => !!v || 'Password is required',
          min: v => (v && v.length >= 6) || 'Min 6 characters',
          passwordMatch: v => v == this.createForm.password || 'The password you entered don\'t match'
        },
      }, 

      editForm: {
        imageEditPreview: '',
        avatarEdit: null,

        valid: false,
        valid: false,
        name: '',
        nameRules: [
          v => !!v || 'Name is required',
        ],
        username: '',
        usernameRules: [
          v => !!v || 'Username is required',
        ],
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => (v && /.+@.+/.test(v)) || 'E-mail must be valid'
        ],
        password: '',
        password_confirmation: '',
        show1: false,
        show2: false,
        passwordRules: {
          required: v => !!v || 'Password is required',
          min: v => (v && v.length >= 6) || 'Min 6 characters',
          passwordMatch: v => v == this.editForm.password || 'The password you entered don\'t match'
        },
      }, 

      editId: '',
      deleteId: '',
    }
  },
  created() {
    this.getUsers()
  },
  methods: {
    // Get List Categories
    async getUsers() {
      try {
        const response = await api.get(`https://akkruproject.herokuapp.com/v1/adminuser`)
        if(response.data.result === true) {
          this.dataTable.data = response.data.users
        }
      } catch(err) {}
    },
    // Add User
    // @vars boolean
    add() {
      this.createDialog = true
    },
    // Show User
    // @params id
    view(id) {
      this.viewDialog = true
      const item = this.dataTable.data.find(index => index.id === id)
      this.dataTable.detail = item
    },
    // Edit User
    // @params id
    edit(id) {
      this.editId = id
      this.editDialog = true
      const item = this.dataTable.data.find(index => index.id === id)
      this.editForm.name = item.name
      this.editForm.email = item.email
      this.dataTable.detail = item
    },
    getDeleteId(id) {
      this.deleteId = id
      this.destroyDialog = true
      const item = this.dataTable.data.find(index => index.id === id)
      this.editForm.name = item.name
    },
    // Image Preview avatar
    handleImage(e) {
      this.createForm.avatar = this.$refs.avatarFile.files[0];
      let reader  = new FileReader();
      reader.onload = (e) => {
        this.createForm.imagePreview = e.target.result;
      };
      if( this.createForm.avatar ){
        reader.readAsDataURL( this.createForm.avatar );
      }
      if(this.createForm.avatar.size > 2000000) {
        alert('Maximal file size 2MB')
        setTimeout(() =>{
          this.createForm.imagePreview = ''
        }, 500)
      }
    },
    // Remove Image Preview avatar
    removeImage: function (e) {
      this.createForm.imagePreview = '';
    },
    // Image Preview avatar
    handleImageEdit(e) {
      this.editForm.avatarEdit = this.$refs.avatarEditFile.files[0];
      let reader  = new FileReader();
      reader.onload = (e) => {
        this.editForm.imageEditPreview = e.target.result;
      };
      if( this.editForm.avatarEdit ){
        reader.readAsDataURL( this.editForm.avatarEdit );
      }
      if(this.editForm.avatarEdit.size > 2000000) {
        alert('Maximal file size 2MB')
        setTimeout(() =>{
          this.editForm.imageEditPreview = ''
        }, 500)
      }
    },
    // Remove Image Preview avatar
    removeImageEdit: function (e) {
      this.editForm.imageEditPreview = '';
    },
    // Create User
    // @params name
    async create() {
      try {
        this.postDialog = true
        const response = await api.post('https://akkruproject.herokuapp.com/v1/adminuser/create', {
          name: this.createForm.name,
          email: this.createForm.email,
          password: this.createForm.password,
          avatar: this.createForm.avatar
        })
        if(response.data.result === true) {
          this.snackbarText = 'User successfully added.'
          setTimeout(() => {
            this.createDialog = false;
            this.$refs.createForm.reset()
            this.getUsers()
          }, 1000)
        } else {
          this.snackbarText = 'Update failed'
        }
      } catch (err) {
        this.snackbar = true
        this.snackbarText = err.message
      } finally{
        this.postDialog = false
        this.snackbar = true
      }
    },
    // Updae User
    // @params name
    async update() {
      try {
        this.postDialog = true
        const response = await api.put('https://akkruproject.herokuapp.com/v1//adminuser/' + this.editId, {
          name: this.editForm.name,
          email: this.editForm.email,
          password: this.editForm.password,
          avatar: this.editForm.avatarEdit
        })
        if(response.data.result === true) {
          this.snackbarText = 'User successfully update.'
          setTimeout(() => {
            this.editDialog = false;
            this.$refs.editForm.reset()
            this.getUser()
          }, 1000)
        } else {
          this.snackbarText = 'Update failed'
        }
      } catch (err) {
        this.snackbar = true
        this.snackbarText = err.message
      } finally{
        this.postDialog = false
        this.snackbar = true
      }
    },
    // Destroy User
    // @params id
    async destroy() {
      try {
        this.postDialog = true
        this.destroyDialog = false
        const response = await api.delete('https://akkruproject.herokuapp.com/v1/adminuser/'+this.deleteId)
        if(response.data.result === true) {
          this.snackbarText = 'User successfully deleted'
          let idx = this.dataTable.data.findIndex(item => item.id === this.deleteId)
          this.dataTable.data.splice(idx, 1)
        } else {
          this.snackbarText = 'Update failed'
        }
      } catch(e){
        this.snackbar = true
        this.snackbarText = err.message
      }
      finally{
        this.postDialog = false
        this.snackbar = true
      }
    }

  }
}
</script>