<template>
    <div class="page5">
<h1 class="txt1">TO MAKE YOU LIFE MORE EASIER</h1>
<button type="button" id="btnContact" @click="toContact" class=" btn btn-danger btdl">Contact Us</button>\
<!-- <img src="../../assets/images/facebook.png" alt="" class="icons">
<img src="../../assets/images/instagram.png" alt="" class="icons">
<img src="../../assets/images/twitter.png" alt="" class="icons">
<img src="../../assets/images/pinterest.png" alt="" class="icons">
<img src="../../assets/images/google-plus.png" alt="" class="icons"> -->
    </div>
    
</template>

<script>
export default {
name:'contactusPage',
methods: {
    toContact() {
        this.$router.push('/contact')
    }
}
}
</script>

<style scoped>
.page5{
    background-color: #C30005;
    margin-top: 120px;
    height: 284px;
    width: auto;
    display: block;
    margin-left: -120px;
    margin-right: -120px;
}
.btdl{
    margin-top: 129px;
    width: 201px;
    height: 60px;
    font-size: 30px;
    font-style: Medium;
    font-family: catamaran;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border:2px solid #ffffff;
    border-color: #ffffff;
    color: #ffffff;
    background-color:#C30005;
}
.txt1{
    
    font-family: catamaran;
    font-weight: Bold;
    font-size: 36px;
    text-align: center;
    line-height: 159px;
    
    height: 9px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}
.icons{
    margin-top: 20px;
    margin-right: 10px;
    left: 1000px;
    position:relative;
    width: 40px;
    height: 39px;
}
</style>

