<template>
  <div >
       <img src="../../assets/images/P6YSG41.png" class="home">
       <h1 class="txt1">AKKRU</h1>
       <h2 class="txt2">Realigning your expense <br/>
        with your future
        </h2>
  </div>
 
</template>

<script>
export default {
  name: 'LandingPage',
  
}
</script>
<style scoped>
img.home{
    margin-top: 56px;
    margin-bottom: 40px;
    width: 700px;
    height: 800px;
    right: 100px;
    margin-left: 430px;
    
 
    
}
h1.txt1{
  color: #C30005;
  margin-top: -506px;
  font-family:catamaran;
  font-size: 64px;
  font-weight: Bold;
  }
h2.txt2{
  color: #C30005;
  font-family:catamaran;
  font-size: 39px;
}
</style>
