<template>
  <section id="new_cafe" class="section">
    <h2 class="heading_">Catalog</h2>
    <div class="heading-base">
      <!-- <h2>New Cafe</h2> -->
      <div></div>
      <span class="more"><router-link to="/new-cafe">Lihat semua</router-link></span>
    </div>

    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="catalog-list">
          <ul v-for="item in tabMenu" :key="item.id">
            <li @click="clickTab(item.id)" :class="{active : selectedTab === item.id}"><img :src="item.icon" alt=""> {{item.name}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <!-- List start -->
        <div class="content-list">
          <div class="row">
            <router-link to="/merchant-page" class="col-lg-4 col-md-6 col-6 mb-3">
              <div class="content-list--card z-depth-1">
                <div class="content-list--card-img">
                  <img src="../../assets/images/list.png" alt="">
                </div>
                <div class="content-list--card-content">
                  <h3>Nox Coffee Boutique</h3>
                  <p class="location">Jln. Kaliurang Km 05</p>
                  <p class="time open">Open Now</p>
                </div>
              </div>
            </router-link>
            <router-link to="/merchant-page" class="col-lg-4 col-md-6 col-6 mb-3">
              <div class="content-list--card z-depth-1">
                <div class="content-list--card-img">
                  <img src="../../assets/images/list-2.png" alt="">
                </div>
                <div class="content-list--card-content">
                  <h3>Nox Coffee Boutique</h3>
                  <p class="location">Jln. Kaliurang Km 05</p>
                  <p class="time open">Open Now</p>
                </div>
              </div>
            </router-link>
            <router-link to="/merchant-page" class="col-lg-4 col-md-6 col-6 mb-3">
              <div class="content-list--card z-depth-1">
                <div class="content-list--card-img">
                  <img src="../../assets/images/list-3.png" alt="">
                </div>
                <div class="content-list--card-content">
                  <h3>Nox Coffee Boutique</h3>
                  <p class="location">Jln. Kaliurang Km 05</p>
                  <p class="time open">Open Now</p>
                </div>
              </div>
            </router-link>
            <router-link to="/merchant-page" class="col-lg-4 col-md-6 col-6 mb-3">
              <div class="content-list--card z-depth-1">
                <div class="content-list--card-img">
                  <img src="../../assets/images/list-4.png" alt="">
                </div>
                <div class="content-list--card-content">
                  <h3>Nox Coffee Boutique</h3>
                  <p class="location">Jln. Kaliurang Km 05</p>
                  <p class="time open">Open Now</p>
                </div>
              </div>
            </router-link>
            <router-link to="/merchant-page" class="col-lg-4 col-md-6 col-6 mb-3">
              <div class="content-list--card z-depth-1">
                <div class="content-list--card-img">
                  <img src="../../assets/images/list-2.png" alt="">
                </div>
                <div class="content-list--card-content">
                  <h3>Nox Coffee Boutique</h3>
                  <p class="location">Jln. Kaliurang Km 05</p>
                  <p class="time open">Open Now</p>
                </div>
              </div>
            </router-link>
            <router-link to="/merchant-page" class="col-lg-4 col-md-6 col-6 mb-3">
              <div class="content-list--card z-depth-1">
                <div class="content-list--card-img">
                  <img src="../../assets/images/list-3.png" alt="">
                </div>
                <div class="content-list--card-content">
                  <h3>Nox Coffee Boutique</h3>
                  <p class="location">Jln. Kaliurang Km 05</p>
                  <p class="time open">Open Now</p>
                </div>
              </div>
            </router-link>
          </div>
        </div>
        <!-- List end -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'newCafe',
  data() {
    return {
      catalogList: false,
      tabMenu: [
        {
          'id': 1,
          'name': 'Good Offer',
          'icon': './static/discount2.png'
        },
        {
          'id': 2,
          'name': 'New Place',
          'icon': './static/cafe.png'
        },
        {
          'id': 3,
          'name': 'Coffee Shop',
          'icon': './static/coffee-cup.png'
        },
        {
          'id': 4,
          'name': 'Coffee Shop',
          'icon': './static/fresh-juice.png'
        },
      ],
      selectedTab: '',
    }
  },
  created() {
    this.selectedTab = this.tabMenu[0].id;
  },
  methods: {
    clickTab(id) {
      this.selectedTab = id
    }
  }
}
</script>