<template>
    <div class="#">
        <h1 class="txt1">OVERVIEW</h1>
        <div>
        <section id="header_promo" class="section_non-base">
        <swiper :options="swiperOption" class="slide-promo">
        <swiper-slide><img src="../../assets/images/m1.png" alt=""></swiper-slide>
        <swiper-slide><img src="../../assets/images/m2.png" alt=""></swiper-slide>
        <swiper-slide><img src="../../assets/images/m3.png" alt=""></swiper-slide>
        
        <div class="swiper-button-prev" id="btnPrev" slot="button-prev"></div>
        <div class="swiper-button-next" id="btnNext" slot="button-next"></div>
        </swiper>
        </section>
        </div>
        <div>
            <h1 class="txt2">DOWNLOAD APPS HERE</h1>
            <button type="submit" id="BtnDownload" class="btn btn-danger btdl" >DOWNLOAD</button>
        </div>
    </div>
</template>

<script>
export default {
name: 'overviewPage',
data() {
      return {
        swiperOption: {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
        }
      }
    }
}
</script>

<style scoped>
.slide-promo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 411px;
    height: 777px;
}
.btdl{
    width: 300px;
    height: 80px;
    font-size: 30px;
    font-style: Medium;
    font-family: catamaran;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #C30005;
    margin-top: 50px;
}
.txt1{
    font-family: catamaran;
    font-weight: Bold;
    font-size: 48px;
    text-align: center;
    line-height: 150px;
    width: 406px;
    height: 79px;
    margin-left: auto;
    margin-right: auto;
    color: #C30005;
}
.txt2{
    font-family: catamaran;
    font-weight: Bold;
    font-size: 38px;
    text-align: center;
    line-height: 170px;
    width: 406px;
    height: 79px;
    margin-left: auto;
    margin-right: auto;
    color: #C30005;
}
body{
    font-family: 'Montserrat';
    margin:0;
}


</style>

