<template>
    <section>
        <div class="page2">
        <div><img src="../../assets/images/image 2.png" class="home"></div>
       
       <h1 class="txt1">Pencatatan</h1>
       <h2 class="txt2">Membantu anda untuk mempermudah<br/>
        pencatatan pengeluaran anda</h2>
        
    </div>
    </section>
    
</template>

<script>
export default {
name: 'pencatatanPage',
}
</script>

<style scoped>
.page2{
    background-color: #C30005;
    margin-top: 350px;
    height: 1000px;
    width: auto;
    margin-left: -120px;
    margin-right: -120px;
    
    
    

}
.home{
    margin-top: 114px;
    margin-bottom: 900px;
    width: 700px;
    height: 800px;
    right: 100px;
    margin-right: 470px;
    padding-left: 30px;
   
}
.txt1{
  color: #FFFFFF;
  margin-top: -1300px;
  margin-left: 720px;
  font-weight: Bold;  

  
  }
.txt2{
  color: #FFFFFF;
  margin-left: 720px;
  
}

</style>
