<template>
  <section id="hot_promo" class="section">
    <h2 class="heading_">Point Store</h2>
    <div class="heading-base">
      <!-- <h2>Hot Promo</h2> -->
      <div></div>
      <span class="more"><router-link to="/cafe-promo">Lihat semua</router-link></span>
    </div>
    <!-- List start -->
    <div class="content-list">
      <div class="row">
        <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
          <div class="content-list--card z-depth-1">
            <div class="content-list--card-img">
              <img class="discount" src="../../assets/icons/diskon-10.png" alt="">
              <img src="../../assets/images/tile-bg.png" alt="">
            </div>
            <div class="content-list--card-content">
              <h3 class="centering--">Diskon asik 10%</h3>
              <div class="content-list--card-content-action">
                <div class="point_">200 Point</div>
                <button class="buy_">Buy</button>
              </div>
            </div>
          </div>
        </router-link>
        <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
          <div class="content-list--card z-depth-1">
            <div class="content-list--card-img">
              <img class="discount" src="../../assets/icons/diskon-10.png" alt="">
              <img src="../../assets/images/tile-bg.png" alt="">
            </div>
            <div class="content-list--card-content">
              <h3 class="centering--">Diskon asik 10%</h3>
              <div class="content-list--card-content-action">
                <div class="point_">200 Point</div>
                <button class="buy_">Buy</button>
              </div>
            </div>
          </div>
        </router-link>
        <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
          <div class="content-list--card z-depth-1">
            <div class="content-list--card-img">
              <img class="discount" src="../../assets/icons/diskon-10.png" alt="">
              <img src="../../assets/images/tile-bg.png" alt="">
            </div>
            <div class="content-list--card-content">
              <h3 class="centering--">Diskon asik 10%</h3>
              <div class="content-list--card-content-action">
                <div class="point_">200 Point</div>
                <button class="buy_">Buy</button>
              </div>
            </div>
          </div>
        </router-link>
        <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
          <div class="content-list--card z-depth-1">
            <div class="content-list--card-img">
              <img class="discount" src="../../assets/icons/diskon-10.png" alt="">
              <img src="../../assets/images/tile-bg.png" alt="">
            </div>
            <div class="content-list--card-content">
              <h3 class="centering--">Diskon asik 10%</h3>
              <div class="content-list--card-content-action">
                <div class="point_">200 Point</div>
                <button class="buy_">Buy</button>
              </div>
            </div>
          </div>
        </router-link>
      </div>
    </div>
    <!-- List end -->
  </section>
</template>

<script>
export default {
  name: 'pointStore',
  data() {
    return {
      swiperOption: {
        pagination: {
          el: '.swiper-pagination'
        }
      }
    }
  },
}
</script>
