<template>
  <section id="header_promo" class="section_non-base">
    <!-- Promo slider start -->
    <swiper :options="swiperOption" class="promo-slide">
      <swiper-slide><img src="../../assets/images/imageedit_3_4227688346.png" alt=""></swiper-slide>
      <swiper-slide><img src="../../assets/images/imageedit_3_4227688346.png" alt=""></swiper-slide>
      <swiper-slide><img src="../../assets/images/imageedit_3_4227688346.png" alt=""></swiper-slide>
      <div class="swiper-pagination slide-pagination" slot="pagination"></div>
    </swiper>
    <!-- Promo slider end -->
  </section>
</template>

<script>
export default {
  name: 'promoHeader',
  data() {
    return {
      swiperOption: {
        pagination: {
          el: '.swiper-pagination'
        }
      }
    }
  },
}
</script>
