<template>
  <section id="footer_promo" class="section">
    <div class="heading-base">
      <h2>Asuransi</h2>
      <span class="more"><a href="#">Lihat semua</a></span>
    </div>
    <!-- Promo slider start -->
    <swiper :options="swiperOption" class="promo-slide">
      <swiper-slide><img src="../../assets/images/image.png" alt=""></swiper-slide>
      <swiper-slide><img src="../../assets/images/image-2.png" alt=""></swiper-slide>
      <swiper-slide><img src="../../assets/images/image.png" alt=""></swiper-slide>
      <div class="swiper-pagination slide-pagination" slot="pagination"></div>
    </swiper>
    <!-- Promo slider end -->
  </section>
</template>

<script>
export default {
  name: 'promoFooter',
  data() {
    return {
      swiperOption: {
        pagination: {
          el: '.swiper-pagination'
        }
      }
    }
  },
}
</script>
