<template>
    
    <div class="page3">
        <div><img src="../../assets/images/6527cfd3-1485-432f-ab59-7ba8387c2221.png" class="center"></div>
       
       <h1 class="txt1">VOUCHER</h1>
       <h2 class="txt2">Tukarkan point anda<br/>
        dengan voucer untuk<br/>
        mendapatkan potongan</h2>
       <h1 class="txt3">Dapatkan Point</h1>
       <h2 class="txt4">Dapatkan point dari<br/>
        pengeluaran yang<br/>
        anda catat 
        </h2>
        
    </div>
</template>

<script>
export default {
name: 'promoPage',
}
</script>

<style scoped>
.page3{
    background-color: #262323;
    height: 1000px;
    width: auto;
    margin-top: -100px;
    margin-left: -120px;
    margin-right: -130px;
    

}
.center{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 900px;
    width: 468px;
    height: 906px;
    right: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    
   
}
.txt1{
  color: #FFFFFF;
  margin-top: -1300px;
  margin-left: 800px;
  font-family:catamaran;
  font-size: 48px;
  font-weight: Bold;
  text-align: center;

  
  }
.txt2{
  color: #FFFFFF;
  margin-left: 800px;
  font-family:catamaran;
  font-size: 30px;
  text-align: center;
}
.txt3{
  color: #FFFFFF;
  margin-top: -170px;
  margin-right: 800px;
  font-family:catamaran;
  font-size: 48px;
  font-weight: Bold;
  text-align: center;
  }
.txt4{
  color: #FFFFFF;
  margin-right: 800px;
  font-family:catamaran;
  font-size: 30px;
  text-align: center;
}
</style>
