<template>
  <section id="recomended_cafe" class="section">
    <div class="heading-base">
      <h2>Rekomendasi Cafe</h2>
      <span class="more"><router-link to="/cafe-shop">Lihat semua</router-link></span>
    </div>
    <!-- List start -->
    <div class="content-list">
      <div class="row">
        <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
          <div class="content-list--card z-depth-1">
            <div class="content-list--card-img">
              <img src="../../assets/images/list.png" alt="">
            </div>
            <div class="content-list--card-content">
              <h3>Nox Coffee Boutique</h3>
              <p class="location">Jln. Kaliurang Km 05</p>
              <p class="time open">Open Now</p>
            </div>
          </div>
        </router-link>
        <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
          <div class="content-list--card z-depth-1">
            <div class="content-list--card-img">
              <img src="../../assets/images/list-2.png" alt="">
            </div>
            <div class="content-list--card-content">
              <h3>Nox Coffee Boutique</h3>
              <p class="location">Jln. Kaliurang Km 05</p>
              <p class="time open">Open Now</p>
            </div>
          </div>
        </router-link>
        <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
          <div class="content-list--card z-depth-1">
            <div class="content-list--card-img">
              <img src="../../assets/images/list-3.png" alt="">
            </div>
            <div class="content-list--card-content">
              <h3>Nox Coffee Boutique</h3>
              <p class="location">Jln. Kaliurang Km 05</p>
              <p class="time open">Open Now</p>
            </div>
          </div>
        </router-link>
        <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
          <div class="content-list--card z-depth-1">
            <div class="content-list--card-img">
              <img src="../../assets/images/list-4.png" alt="">
            </div>
            <div class="content-list--card-content">
              <h3>Nox Coffee Boutique</h3>
              <p class="location">Jln. Kaliurang Km 05</p>
              <p class="time open">Open Now</p>
            </div>
          </div>
        </router-link>
      </div>
    </div>
    <!-- List end -->
  </section>
</template>

<script>
export default {
  name: 'recomendedCafe',
  data() {
    return {
      swiperOption: {
        pagination: {
          el: '.swiper-pagination'
        }
      }
    }
  },
}
</script>
