<template>
  <footer id="copyright">
    <div class="footer-copyright">
      <div class="container">
        <div class="copyright">
        <img src="../../assets/images/logo_new.png" alt="Accrue App">
        <div class="pl-4">"Nongkrong Jalan Masa Depan Aman"</div>
        <ul class="social text-center">
          <li>
            <router-link to="/">
              <img src="../../assets/icons/facebook.svg">
            </router-link>
          </li>
          <li>
            <router-link to="/">
              <img src="../../assets/icons/instagram.svg">
            </router-link>
          </li>
          <li>
            <router-link to="/">
              <img src="../../assets/icons/twitter.svg">
            </router-link>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'sectionCopyright',
}
</script>
