<template>
  <div class="grid- mt-5 mb-5">
    <div class="grid-wide">
      <router-link to="/new-cafe" class="grid-wide--feature with-overlay">
        <div class="with-overlay-feature">
          <h3>Coffe for your day</h3>
        </div>
        <img src="../../assets/images/pexels-photo-302899.jpeg">
      </router-link>

      <div class="grid-wide--feature" style="background: #f8725a">
        <div class="follow-us">
          <div>Follow Us</div>
          <ul class="social text-center">
            <li>
              <router-link to="/">
                <img src="../../assets/icons/facebook.svg">
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <img src="../../assets/icons/instagram.svg">
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <img src="../../assets/icons/twitter.svg">
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-normal">
      <router-link to="/new-cafe" class="grid-normal--feature with-overlay">
        <div class="with-overlay-feature">
          <h3>Healthy Day</h3>
        </div>
        <img src="../../assets/images/flowers-tea-sugar-white.jpg">
      </router-link>
      <router-link to="/new-cafe" class="grid-normal--feature with-overlay">
        <div class="with-overlay-feature">
          <h3>Good Offer</h3>
        </div>
        <img src="../../assets/images/pexels-photo-814264.jpeg">
      </router-link>
    </div>
    <div class="grid-height">
      <router-link to="/new-cafe" class="grid-height--feature with-overlay">
        <div class="with-overlay-feature">
          <h3>New Place</h3>
        </div>
        <img src="../../assets/images/pexels-photo-683039.jpeg">
      </router-link>
    </div>
    <!-- <div class="grid-wide">
      <div class="normal">Wide</div>
    </div>
    <div class="grid-normal">
      <div class="short">Normal</div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'sectionCategory',
}
</script>
