<template>
  <div id="app_header">
    <div class="header">
      <div class="container">
        <div class="header--wrapper">
          <!-- Header logo start -->
          <div class="header--logo">
         
            <router-link to="/"><img src="../../assets/images/logo_new.png" alt="Akkru App"></router-link>
          </div>
          <!-- Header logo end -->
          <!-- Header section start -->
          
          <!-- Header section end -->
          <!-- Header login start -->
          <div class="header--login">
            <!-- <button id="login_" type="button" class="login-head-btn" @click="dropdownLogin = !dropdownLogin">Login</button> -->
            <img src="../../assets/icons/user.png" width="20" height="20" @click="dropdownLogin = !dropdownLogin">
            <!-- Header login dropdown start-->
            <slide-y-up-transition>
              <div class="header--login-dropdown z-depth-2" v-if="dropdownLogin" v-click-outside="onClickOutside">
                <div class="login-tabs">
                  <div class="tabs-panel" :class="{ active: showLogin === true}" @click="tabLogin">
                    <div v-if="is_token">
                      Logout
                    </div>
                    <div v-else>
                      Login
                    </div>
                  </div>
                  <div v-if="!is_token">
                    <div class="tabs-panel" :class="{ active: showSignup === true}" @click="tabSignup">
                      Sign up
                    </div>
                  </div>
                  <!-- <div class="tabs-panel" :class="{ active: showSignup === true}" @click="tabSignup">
                    Sign up
                  </div> -->
                </div>
                <!-- Form login start -->
                <div v-if="showLogin">
                  <div v-if="is_token">
                    <button  @click="toDashboard" type="button" class="base-btn mt-4 mb-3"> Dashboard</button>
                    <button id="BtnLogout" @click="logout" type="button" class="base-btn mt-4 mb-3"> Logout</button>

                  </div>
                  <div v-else>
                    <form>
                      <input class="base-input" id="login_email" type="email" placeholder="Email" v-model="email">
                      <small :class="isEmailValid()" class="hidden">Email required and valid email</small>
                      <input ref="password" id="login_password" class="base-input" type="password" placeholder="Kata Sandi" v-model="password" >
                      <small :class="isPasswordValid()" class="hidden">Password required</small>
                      <button  @click="login" id="userLogin" type="button" class="base-btn mt-4 mb-3"> Login</button>
                    </form>
                  </div>

                  <!-- <p class="or-with">Atau login dengan</p>
                  <button type="button" class="flat-btn mb-3"> <img class="mr-3" src="../../assets/icons/google.svg" alt="cafe"> Login dengan google</button> -->
                </div>
                <!-- Form login end -->
                <!-- Form signup start -->
                <div v-if="!is_token">
                  <div v-if="showSignup">
                    <form>
                      <input class="base-input" id="signup_name" type="text" v-model="createForm.name" placeholder="Name">
                      <input class="base-input" id="signup_email" type="email" v-model="createForm.email" placeholder="Email">
                      <input class="base-input" id="signup_password" type="password" v-model="createForm.password" placeholder="Kata Sandi">
                      <input class="base-input" id="signup_password2" type="password" v-model="createForm.password_confirmation" placeholder="Ulangi Kata Sandi">
                      <button type="button" id="BtnSignup" @click="create" class="base-btn mt-4 mb-3"> Signup</button>
                    </form>
                    <!-- <p class="or-with">Atau daftar dengan</p>
                    <button type="button" class="flat-btn mb-3"> <img class="mr-3" src="../../assets/icons/google.svg" alt="cafe"> Daftar dengan google</button> -->
                  </div>
                </div>
                <!-- Form signup end -->
              </div>
            </slide-y-up-transition>
            <!-- Header login dropdown end-->
          </div>
          <!-- Header login end -->
          <!-- Hamburger menu start -->
          <!-- <div class="header--hamburger-menu"><img src="../../assets/icons/hamburger.svg"></div> -->
          <!-- Hamburger menu end -->
        </div>
      </div>
    </div>
    <!-- Layer -->
    <fade-transition  :duration="200">
      <div class="header-layer" @click="headerLayer = false" v-if="dropdownLogin">
      </div>
    </fade-transition>

    <div v-if="loader">
      <div class="loader">
        <div class="loader--wrapper icon">
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <span class="loader--text">Please wait...</span>
        </div>
      </div>
    </div>

    <div v-if="success">
      <div class="loader">
        <div class="loader--wrapper">
          <span>User successfully added</span>
        </div>
      </div>
    </div>

    <div v-if="failed">
      <div class="loader">
        <div class="loader--wrapper">
          <span>Can't update data</span>
        </div>
      </div>
    </div>

    <div v-if="error">
      <div class="loader">
        <div class="loader--wrapper">
          <span>Password or email is wrong</span>
        </div>
      </div>
    </div>
    <!-- Layer -->
  </div>
</template>

<script>
import vClickOutside from 'v-click-outside'
import { SlideYUpTransition, FadeTransition } from 'vue2-transitions'
import api from '@/helpers/api'
export default {
  name: 'sectionHeader',
  components: {
    SlideYUpTransition, FadeTransition
  },
  data() {
    return {
      headerLayer: false,
      dropdownLogin: false,
      showLogin: true,
      showSignup: false,
      openSearch: false,

      loader: false,
      error: false,
      failed: false,
      success: false,
      email: '',
      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
      password: '',

      requiredEmail: false,
      requeredPassword: false,
      is_token: false,

      createForm: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
      }, 

    }
  },
  directives: {
    clickOutside: vClickOutside.directive
  },
  watch: {
    headerLayer() {
      document.querySelector('body').style.overflow = this.headerLayer ? 'hidden' : '';
    },
    dropdownCategory() {
      document.querySelector('body').style.overflow = this.dropdownCategory ? 'hidden' : '';
    },
    dropdownLogin() {
      document.querySelector('body').style.overflow = this.dropdownLogin ? 'hidden' : '';
    },
  },
  mounted() {
    this.checkToken()
  },
  methods: {
    // Open Search
    // @var boolean, $refs
    searchTrigger() {
      this.openSearch = !this.openSearch
      this.$refs.searchInput.focus()
      this.$refs.searchIcon.classList.toggle('open')
    },
    // Close all toggle when click outside element
    // @params event
    // @var boolean
    onClickOutside(e) {
      this.dropdownCategory = false
      this.dropdownLogin = false
    },
    onClickOutside2(e) {
      this.openSearch = false9
      this.$refs.searchIcon.classList.remove('open')
    },
    // Show login form
    // @var boolean
    tabLogin() {
      this.showLogin = true
      this.showSignup = false
    },
    // Show signup form
    // @var boolean
    tabSignup() {
      this.showLogin = false
      this.showSignup = true
    },
    isEmailValid(){
      return (this.email === "") ? "" : (this.reg.test(this.email)) ? 'has-success' : 'has-error';
    },
    isPasswordValid(){
      return (this.password === "") ? "" : this.password ? 'has-success' : 'has-error';
    },
    // Create User
    // @params name
    async create() {
      try {
        this.loader = true
        const response = await api.post('https://akkruproject.herokuapp.com/v1/user/create', {
          name: this.createForm.name,
          email: this.createForm.email,
          password: this.createForm.password,
          avatar: this.createForm.avatar
        })
        if(response.data.result === true) {
          this.success = true
          this.createForm.name = '',
          this.createForm.email = '',
          this.createForm.password = '',
          this.createForm.password_confirmation = '',
          setTimeout(() => {
            this.loader = false;
            this.success = false
          }, 1000)
        } else {
          this.failed = true
        }
      } catch (err) {
        this.failed = true
      } finally{
        this.loader = false
        this.failed = false
      }
    },
    // Login method
    async login() {
      if(this.email === '' && this.password === '' ) {
        this.requiredEmail = true
        this.requeredPassword = true
      } else if(this.email === '') {
        this.requeredEmail = true
      } else if(this.password === '') {
        this.requeredPassword = true
      } else {
        try {
          this.loader = true
          const adminToken = localStorage.getItem('adminToken')
          if(adminToken) {
            localStorage.removeItem('adminToken')
          }
          const response = await api.post(`https://akkruproject.herokuapp.com/user/login`, {
            auth: {
              email: this.email, 
              password: this.password
            }
          })
          if(response.status === 201) {
            localStorage.setItem('userToken', response.data.jwt);
            // this.loader = false
            window.location.href = '/dashboard/user'
          }
        }catch(err){
          this.error = true
          setTimeout(()=> {
            this.error = false
          }, 1000)
        }
        finally{
          this.loader = false
        }
      }
    },
    // Check token
    checkToken() {
      const user = localStorage.getItem('userToken') 
      console.log(user)
      if(user) {
        this.is_token = true
      }
    },
    // Logout
    logout() {
      localStorage.removeItem('userToken')
      window.location.reload()
    },
    toDashboard() {
      this.$router.push('/dashboard/user')
    }
  }
}
</script>

<style scoped>
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  background-color: rgba(0,0,0,0.5);
}
.loader .loader--wrapper {
    background: #fff;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 30px;
    border-radius: 4px;
}
.loader .loader--wrapper.icon {
  padding: 10px!important;
}
.loader--text {
    position: relative;
    top: -25px;
    left: 20px;
    font-size: 18px;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #222;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
small.hidden {
  display: none!important;
}
small.has-error {
  display: block!important;
  color: red;
}

small.has-success {
  display: none;
}
</style>
