<template>
  <div id="footer">
    <div class="footer-row mt-5 mb-5">
      <div class="footer-col">
        <h4>Catalog</h4>
        <ul>
          <li><router-link to="/">Good Offer</router-link></li>
          <li><router-link to="/">New Place</router-link></li>
          <li><router-link to="/">Coffee Shop</router-link></li>
          <li><router-link to="/">Fuit Bar</router-link></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Point Store</h4>
        <ul>
          <li><router-link to="/">Store</router-link></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Customer Service</h4>
        <ul>
          <li><router-link to="/help">Help</router-link></li>
          <li><router-link to="/contact">Contact</router-link></li>
          <li><router-link to="/policy">Policy</router-link></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>My Account</h4>
        <ul>
          <li>Favorite</li>
          <li>Profil</li>
          <li>Situs Premi</li>
        </ul>
      </div>
      <div class="footer-col download">
        <!-- <div class="download-laystore">
          <img src="../../assets/images/smartphone.svg">
          <span>Dapatkan aplikasi mobile Accrue. <br>
            <small>Ios, Android</small></span>
        </div>
        <div class="text-center mt-2 font-weight-bold">
          Ikuti Kami
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sectionHeader',
}
</script>
