<template>
  <section id="tags_category" class="section">
    <div class="heading-base">
      <h2>Kategori</h2>
    </div>
    <!-- List start -->
    <div class="tags">
      <ul>
        <li><router-link to="/category"><img src="../../assets/icons/coffee.svg" alt="cafe"><span>New cafe</span></router-link></li>
        <li><router-link to="/category"><img src="../../assets/icons/discount.svg" alt="discount"><span>Hot Promo</span></router-link></li>
        <li><router-link to="/category"><img src="../../assets/icons/shop.svg" alt="shop"><span>Cafe Shop</span></router-link></li>
        <li><router-link to="/category"><img src="../../assets/icons/fruit.svg" alt="cafe"> <span>Fruit Bar</span></router-link></li>
      </ul>
    </div>
    <!-- List end -->
  </section>
</template>

<script>
export default {
  name: 'tagsCategory',
  data() {
    return {
      swiperOption: {
        pagination: {
          el: '.swiper-pagination'
        }
      }
    }
  },
}
</script>
