<template>
  <section id="header_tracking">
    <!-- Promo slider start -->
    <swiper :options="swiperOption" class="tracking-slider">
      <swiper-slide>
        <div class="card--sliders">
          <i class="material-icons card--sliders-icon">check</i>
          <p>Download AKKRU App di Play store atau App store</p>
        </div>
      </swiper-slide>
      <swiper-slide>
       <div class="card--sliders">
          <i class="material-icons card--sliders-icon">store_mall_directory</i>
          <p>Beli makanan atau minuman di merchant kami</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card--sliders">
          <i class="material-icons card--sliders-icon">style</i>
          <p>Dapatkan point untuk membayar asuransi</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card--sliders">
          <i class="material-icons card--sliders-icon">check</i>
          <p>Download AKKRU App di Play store atau App store</p>
        </div>
      </swiper-slide>
    </swiper>
    <!-- Promo slider end -->
  </section>
</template>

<script>
export default {
  name: 'trackingSlider',
  data() {
    return {
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 30,
      }
    }
  },
}
</script>
