<template>
    <div>
    <article class="section">
      <h2 class="heading_">contact</h2>
      <div class="heading-base">
      </div>
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="catalog-list">
             <img src="../assets/images/contact.png" alt="">
          </div>
        </div>
        <div class="#">
            <h1>We would love to hear from you!</h1>
         <form>
           <td>
        <input type="text" id="name" name="name" placeholder="Name*" required>
        <input type="text" id="email" name="email" placeholder="Email*" required>
        <select id="options" name="options" required>
             <option value="">How we can help you ?</option>
        </select>
        <textarea id="subject" name="subject" placeholder="Message*" style="height:740px " required></textarea>

         <input type="submit" value="Send Message">
          </td>
        </form>
</div>
      </div>
    </article>
    <!-- <sectionCategory/> -->
  </div>
</template>


<script>
import promoHeader from '@/components/sections/promoHeader'
import sectionCategory from '@/components/sections/sectionCategory'
export default  {
  name: 'policy',
  components: {
    promoHeader, sectionCategory
  }
}
</script>

<style scoped >
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #C30005; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #C30005;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* When moving the mouse over the submit button, add a darker green color */
/*input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}
</style>
