<template>
    <div>
    <article class="section">
      <h2 class="heading_">help</h2>
      <div class="heading-base">
      </div>
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="catalog-list">
             <img src="../assets/images/imagehelp.png" alt="">
          </div>
        </div>
        <div class="col-md-9">
          <!-- List start -->
          <h1>Can we help you ?</h1>
          <td>
            <p>What exactly is a Zomato Spoonback?
A Spoonback is an automatic link from a Zomato restaurant page to your blog post. You review the restaurant on your blog, and we'll link to your post. The link appears in a special Blogs section on each Zomato restaurant page, city feed, your Food Journey, your profile page, and your followers' feeds.</p>

<p>Why would I want to use it?<p>
<p>Here at Zomato, we prominently display blogger reviews. If you use Spoonbacks, Zomato users will see an excerpt from your review, and a link to click through to your blog. In short, you get exposure and traffic to your blog for free.</p>

<p>How does it work?</p>
<p>Once registered, all linked posts from your blog will show up automatically in the Blog Posts section of your profile on Zomato as pending blog posts. Here, you can edit your post snippet, add a rating and photo(s) for the restaurant, and tag friends before publishing it to Zomato. It is advisable to edit your post snippet on Zomato to reflect the content related to the restaurant, as that would encourage viewers to be directed to your blog page.</p>

<p>Once you have registered, you can link blog posts to your Zomato profile using the unique HTML widget codes we have for all restaurants. To locate this, you need to scroll to the end of a restaurant page and click on the option 'Are you a Food Blogger?'
From here, you can choose any one of the four available widget codes and paste it anywhere on your blogpost.
Once this is done, please refresh your blog post as this would initiate the process that would lead to your blogpost starting to appear under the 'Pending Blog Post' section (under the Blog Post section itself).
Now, you can edit your post snippet, add a rating, add photo(s) of the restaurant, and tag friends before publishing it to Zomato. It is advisable to edit your post snippet on Zomato to reflect the content related to the restaurant, as that would encourage viewers to be directed to your blog page. Also, you'd be able to see the blog post section on your profile only after you have published your first blog post.
How long will it take for my blog link to appear on Zomato?
Once you add a spoonback to your blog post, it will reflect on your Zomato profile page under 'Pending Posts' within 24 hours. From here you can easily add a rating, photos, tag friends and publish your blog post on Zomato. If it has been significantly longer than that, please write to us at bloggerhelp@zomato.com and we'll investigate. It's helpful if you can provide us with links to the blog posts in question.</p>

<p>Who Are Top Bloggers and how are they different from Top Foodies?</p>
<p> Blogger rankings are based on the number of blog posts (excerpts) that the blogger has published on Zomato via Spoonbacks. Note that only one blog post per restaurant is counted towards the Top Bloggers rankings.
Top Foodie rankings are based on the reviews, blog posts, and photos you post on Zomato. Reviews and blog posts get 25 points each, and photos get 2 points each. If you have added multiple blog post(s) and a review for a restaurant, only one of them will be eligible for points on the Top Foodie rankings; that is, only 25 points will go towards your leaderboard ranking.
Why was my blog post deleted from Zomato?
Though we appreciate all the great blogging contributions to Zomato, not all blog posts are eligible for inclusion on the site. Below are a few types of posts which fall into this category.</p>

<p>Posts without specific content about the restaurant(s), such as a list of places visited on vacation, without any details about the restaurants.
Posts about a one-time or private event that won't be relevant to anyone beyond the date of the event itself.<br/>
Posts not based on personal experience, such as links/summaries of newspaper articles or blog posts.<br/>
Round-up posts that link to previous reviews, such as 'My Top Ten of 2015'.
Posts with excessive Spoonbacks. Only one Spoonback can be added per blog post and linked back to a single restaurant page. If you have mentioned multiple restaurants in your blog post, we would encourage you to write reviews for the others.
Why was my Spoonback access revoked from Zomato?
We request you to claim access to food related blogs only. Our team runs a verification on all registered blogs and blogs which are irrelevant to the Zomato platform i.e. non-food related, or containing objectionable content, these are revoked.</p>

<p>I don't think any of this is working, what should I do?<br/>
Here are a few things to check:</p></td>
          <!-- List end -->
         
          
        </div>
      </div>
    </article>
    <sectionCategory/>
  </div>
</template>
</template>

<script>
import promoHeader from '@/components/sections/promoHeader'
import sectionCategory from '@/components/sections/sectionCategory'
export default  {
  name: 'help',
  components: {
    promoHeader, sectionCategory
  }
}
</script>

<style scoped>
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
