<template>
  <div>
    <landing-page></landing-page>
    <pencatatan-page></pencatatan-page>
    <promo-page></promo-page>
    <overview-page></overview-page>
    <contactus-page></contactus-page>
  </div>
</template>

<script>
import LandingPage from '@/components/sections/LandingPage'
import pencatatanPage from '@/components/sections/pencatatanPage'
import promoPage from '@/components/sections/promoPage'
import overviewPage from '@/components/sections/overviewPage'
import contactusPage from '@/components/sections/contactusPage'
export default {
  name: 'Index',
  components:{
    LandingPage, pencatatanPage, promoPage, overviewPage, contactusPage
  }
}
</script>