<template>
  <div>
    <promo-header></promo-header>
    <trackingSlider/>
    <hot-promo></hot-promo>
    <sectionCategory/>
    <new-cafe></new-cafe>
    <pointStore/>
  </div>
</template>

<script>
import promoHeader from '@/components/sections/promoHeader'
import trackingSlider from '@/components/sections/trackingSlider'
import recomendedCafe from '@/components/sections/recomendedCafe'
import hotPromo from '@/components/sections/hotPromo'
import newCafe from '@/components/sections/newCafe'
import sectionCategory from '@/components/sections/sectionCategory'
import pointStore from '@/components/sections/pointStore'
export default {
  name: 'Index',
  components: {
    promoHeader, trackingSlider, recomendedCafe, hotPromo, newCafe, sectionCategory, pointStore
  }
}
</script>