<template>
  <div>

    <br>
    <form @submit="handleLogin">
      <label>Username</label>
      <input type="text" v-model="username">
      <label>Password</label>
      <input type="password" v-model="password">
      <br />
      <p v-if="isLoggedIn === 'loading'">Silahkan login</p>
      <p v-else-if="isLoggedIn">Berhasil login</p>
      <p v-else>Gagal login</p>      
      <button >Save</button>
    </form>
  </div>
</template>

<script>
import auth from '@/service/auth'
export default {
  name: 'loginTest',
  data() {
    return {
      username: '',
      password: '',
      isLoggedIn: 'loading',
    }
  },
  methods: {
    handleLogin(e) {
      e.preventDefault();

      auth(this.username, this.password, (status, data) => {
        console.log(status, data)
        if(status === 'SUCCESS') {
          this.isLoggedIn = true
        } else {
          this.isLoggedIn = false
        }
      })
    }
  }
}
</script>