<template>
  <div>    
    <div class="featured-image">
      <img src="../assets/images/image-merchent.png" alt="">
    </div>

    <div class="detail--content">
      <div class="list">
        <ol>
          <li>Sleman,</li>
          <li>Coffee</li>
        </ol>
      </div>

      <div class="title">
        <h1>Kafe Mahal</h1>
      </div>

      <p>Natasha Skin Clinic Center, 2nd floor, Jl. Kaliurang KM. 5 No. 53, Caturtunggal, Kecamatan Depok, Manggung, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281 </p>
    </div>

    <article class="section">
      <h2 class="heading_">Catalog</h2>
      <div class="heading-base">
      </div>
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="catalog-list">
            <ul v-for="item in tabMenu" :key="item.id">
              <li @click="clickTab(item.id)" :class="{active : selectedTab === item.id}"><img :src="item.icon" alt=""> {{item.name}}</li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <!-- List start -->
          <div class="content-list" v-if="selectedTab === 1">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-6 mb-3">
                  <div class="content-list--card z-depth-1">
                    <div class="content-list--card-img">
                      <img src="../assets/images/list-2.png" alt="">
                    </div>
                    <div class="content-list--card-content">
                      <h3>Nox Coffee Boutique</h3>
                      <p>Perbaduan kopi dan cream yang lezat dan nikmat</p>
                      <div class="content-point">
                        <span><img src="../assets/icons/coin.png" alt=""> 100p</span>
                        <span>Rp. 100.000</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 mb-3">
                  <div class="content-list--card z-depth-1">
                    <div class="content-list--card-img">
                      <img src="../assets/images/list-3.png" alt="">
                    </div>
                    <div class="content-list--card-content">
                      <h3>Nox Coffee Boutique</h3>
                      <p>Perbaduan kopi dan cream yang lezat dan nikmat</p>
                      <div class="content-point">
                        <span><img src="../assets/icons/coin.png" alt=""> 100p</span>
                        <span>Rp. 100.000</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 mb-3">
                  <div class="content-list--card z-depth-1">
                    <div class="content-list--card-img">
                      <img src="../assets/images/list-4.png" alt="">
                    </div>
                    <div class="content-list--card-content">
                      <h3>Nox Coffee Boutique</h3>
                      <p>Perbaduan kopi dan cream yang lezat dan nikmat</p>
                      <div class="content-point">
                        <span><img src="../assets/icons/coin.png" alt=""> 100p</span>
                        <span>Rp. 100.000</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 mb-3">
                  <div class="content-list--card z-depth-1">
                    <div class="content-list--card-img">
                      <img src="../assets/images/list-2.png" alt="">
                    </div>
                    <div class="content-list--card-content">
                      <h3>Nox Coffee Boutique</h3>
                      <p>Perbaduan kopi dan cream yang lezat dan nikmat</p>
                      <div class="content-point">
                        <span><img src="../assets/icons/coin.png" alt=""> 100p</span>
                        <span>Rp. 100.000</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 mb-3">
                  <div class="content-list--card z-depth-1">
                    <div class="content-list--card-img">
                      <img src="../assets/images/list-3.png" alt="">
                    </div>
                    <div class="content-list--card-content">
                      <h3>Nox Coffee Boutique</h3>
                      <p>Perbaduan kopi dan cream yang lezat dan nikmat</p>
                      <div class="content-point">
                        <span><img src="../assets/icons/coin.png" alt=""> 100p</span>
                        <span>Rp. 100.000</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-6 mb-3">
                  <div class="content-list--card z-depth-1">
                    <div class="content-list--card-img">
                      <img src="../assets/images/list-4.png" alt="">
                    </div>
                    <div class="content-list--card-content">
                      <h3>Nox Coffee Boutique</h3>
                      <p>Perbaduan kopi dan cream yang lezat dan nikmat</p>
                      <div class="content-point">
                        <span><img src="../assets/icons/coin.png" alt=""> 100p</span>
                        <span>Rp. 100.000</span>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          <!-- List end -->
          <!-- List start -->
          <div class="content-list" v-else-if="selectedTab === 2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img class="discount" src="../assets/icons/diskon-10.png" alt="">
                    <img src="../assets/images/tile-bg.png" alt="">
                  </div>
                  <div class="content-list--card-content">
                    <h3 class="centering--">Nox Coffee Boutique</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img class="discount" src="../assets/icons/diskon-10.png" alt="">
                    <img src="../assets/images/tile-bg-2.png" alt="">
                  </div>
                  <div class="content-list--card-content">
                    <h3 class="centering--">Nox Coffee Boutique</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img class="discount" src="../assets/icons/diskon-10.png" alt="">
                    <img src="../assets/images/tile-bg.png" alt="">
                  </div>
                  <div class="content-list--card-content">
                    <h3 class="centering--">Nox Coffee Boutique</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img class="discount" src="../assets/icons/diskon-10.png" alt="">
                    <img src="../assets/images/tile-bg-2.png" alt="">
                  </div>
                  <div class="content-list--card-content">
                    <h3 class="centering--">Nox Coffee Boutique</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img class="discount" src="../assets/icons/diskon-10.png" alt="">
                    <img src="../assets/images/tile-bg-2.png" alt="">
                  </div>
                  <div class="content-list--card-content">
                    <h3 class="centering--">Nox Coffee Boutique</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img class="discount" src="../assets/icons/diskon-10.png" alt="">
                    <img src="../assets/images/tile-bg.png" alt="">
                  </div>
                  <div class="content-list--card-content">
                    <h3 class="centering--">Nox Coffee Boutique</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- List end -->
          <div v-else>
            <h2>NOX COFFEE BOUTIQUE</h2>
            <p>NOX only brews organic beans and uses mostly local, sustainable ingredients in our homemade fresh baked goods.
            Nox is serious about coffee. There will be no fancy, whipped cream-topped calorie-filled concoctions here. And NOX is just as serious about being nice to the environment, and high concern to health issue. Cups, lids, boxes for takeaway and even coffee filters are compostable, and food grade. Every chemical we are using to cleanse our equipments are Biodegradable and Safe for Food.
            Beans
            NOX beans are carefully processed. Organically grown, its precise time cherry collection and beans duly processed afterwards ensure a constant and perfect blending. That is why NOX beans are distinguished for having a proper dimension with no imperfections.</p>
             <div class="row">
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img src="../assets/images/tile-bg.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img src="../assets/images/tile-bg-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img src="../assets/images/tile-bg.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img src="../assets/images/tile-bg-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img src="../assets/images/tile-bg-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-6 mb-3">
                <div class="content-list--card z-depth-1">
                  <div class="content-list--card-img">
                    <img src="../assets/images/tile-bg.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <sectionCategory/>
  </div>
</template>

<script>
import promoHeader from '@/components/sections/promoHeader'
import sectionCategory from '@/components/sections/sectionCategory'
export default {
  name: 'merchantPage',
  components: {
    promoHeader, sectionCategory
  },
  data() {
    return {
      catalogList: false,
      tabMenu: [
        {
          'id': 1,
          'name': 'Menu',
          'icon': './static/menu.png'
        },
        {
          'id': 2,
          'name': 'Promo',
          'icon': './static/discount2.png'
        },
        {
          'id': 3,
          'name': 'Profile',
          'icon': './static/cafe.png'
        },
      ],
      selectedTab: '',
    }
  },
  created() {
    this.selectedTab = this.tabMenu[0].id;
  },
  methods: {
    clickTab(id) {
      this.selectedTab = id
    }
  }
}
</script>

<style>
.detail--content {
  border-bottom: 2px solid #f2f2f2; 
  margin-bottom: 10px;
}
.breadscrumbs {
   padding-top: 10px;
   padding-bottom: 10px;
 }
 .breadscrumbs ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadscrumbs ol li {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px; 
}
.featured-image {
  position: relative;
}
.featured-image img{
  width: 100%;
  max-height: 450px;
}
.list {
   padding: 10px 0;
}
.list ol li {
  display: inline;
  margin-right: 5px;
  font-size: 14px;
  color: #787878;
}
.list ol {
  list-style: none;
  padding: 0;
  margin: 0px;
}
</style>
