<template>
  <div>
    <promo-header></promo-header>
    <section id="category__list" class="section">
      <div class="heading-base">
        <h2>Point Store</h2>
      </div>
      <!-- List start -->
      <div class="content-list">
        <div class="row">
          <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
            <div class="content-list--card z-depth-1">
              <div class="content-list--card-img">
                <img class="discount" src="../../assets/icons/diskon-10.png" alt="">
                <img src="../../assets/images/tile-bg.png" alt="">
              </div>
              <div class="content-list--card-content">
                <h3 class="centering--">Diskon asik 10%</h3>
                <div class="content-list--card-content-action">
                  <div class="point_">200 Point</div>
                  <button class="buy_">Buy</button>
                </div>
              </div>
            </div>
          </router-link>
          <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
            <div class="content-list--card z-depth-1">
              <div class="content-list--card-img">
                <img class="discount" src="../../assets/icons/diskon-10.png" alt="">
                <img src="../../assets/images/tile-bg.png" alt="">
              </div>
              <div class="content-list--card-content">
                <h3 class="centering--">Diskon asik 10%</h3>
                <div class="content-list--card-content-action">
                  <div class="point_">200 Point</div>
                  <button class="buy_">Buy</button>
                </div>
              </div>
            </div>
          </router-link>
          <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
            <div class="content-list--card z-depth-1">
              <div class="content-list--card-img">
                <img class="discount" src="../../assets/icons/diskon-10.png" alt="">
                <img src="../../assets/images/tile-bg.png" alt="">
              </div>
              <div class="content-list--card-content">
                <h3 class="centering--">Diskon asik 10%</h3>
                <div class="content-list--card-content-action">
                  <div class="point_">200 Point</div>
                  <button class="buy_">Buy</button>
                </div>
              </div>
            </div>
          </router-link>
          <router-link to="/merchant-page" class="col-lg-3 col-md-6 col-6 mb-3">
            <div class="content-list--card z-depth-1">
              <div class="content-list--card-img">
                <img class="discount" src="../../assets/icons/diskon-10.png" alt="">
                <img src="../../assets/images/tile-bg.png" alt="">
              </div>
              <div class="content-list--card-content">
                <h3 class="centering--">Diskon asik 10%</h3>
                <div class="content-list--card-content-action">
                  <div class="point_">200 Point</div>
                  <button class="buy_">Buy</button>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
      <!-- List end -->
    </section>
    <sectionCategory/>
  </div>
</template>

<script>
import promoHeader from '@/components/sections/promoHeader'
import sectionCategory from '@/components/sections/sectionCategory'
export default {
  name: 'cafePromo',
  components: {
    promoHeader, sectionCategory
  }
}
</script>