<template>
    <div>
    <article class="section">
      <h2 class="heading_">Policy</h2>
      <div class="heading-base">
      </div>
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="catalog-list">
             <img src="../assets/images/policy.png" alt="">
          </div>
        </div>
        <div class="col-md-9">
          <!-- List start -->
          <h1>Policy</h1>
<td><p>By accepting these License Agreement Terms of Use (“License Agreement”) you and your controlled affiliates, where applicable, agree to enter into a legally binding agreement (“Agreement”) with Zomato Media Private Limited and its affiliates (collectively, “Zomato”) regarding use of Zomato's Licensed Content, Marks (each as defined below) and application programming interface (“API”). The following terms shall govern your use of API and relationship with Zomato.</p>
<p>Account Creation<br/>
You must create an account in order to use Zomato’s Licensed Content, Marks and API. To create an account, you will be asked to provide certain basic information. This information may include your name, address, company/organization, telephone number and email address. Such information will be held and used by Zomato in accordance with Zomato’s privacy policy, which governs the use of any personal information provided by you to Zomato.</p>

<p>Purpose<br/>
This License Agreement governs your use of Licensed Content and Marks, API licensed to you pursuant to the terms hereto, and any accompanying or related documentation, source code, executable applications and other materials Zomato determines to provide to you in the development or operation of your website and / or mobile application (“Developer Platform”).</p>

<p>Grant of License<br/>
License to Content: Subject to the terms and conditions of this License Agreement and the License Content Usage Guidelines, Zomato hereby grants you a non-transferable, non-exclusive, revocable, non-sublicensable, royalty-free right and license to (i) use, perform and display (publicly or otherwise) the Licensed Content in your applications (the “Developer Application”) on the Developer Platform, and (ii) allow users of the Developer Platform (“Users”) to access the Licensed Content using the Developer Applications on the Developer Platform.<br/>
Licensed Content: Licensed Content shall include such restaurant information as may be provided by Zomato at its sole discretion from time to time. The Licensed Content shall be shared with you on a real time basis and you will be permitted to make a maximum of thousand (1000) calls to the API per day to access the Licensed Content. Zomato hereby reserves the right to modify, change, or delete any of the Licensed Content and API, including but not limited to alter, modify, change or delete the terms of this License Agreement, from time to time, at its sole discretion. Further, any modification, change or deletion made by Zomato to the Licensed Content, API or this License Agreement shall be applicable to you. If you do not wish to be bound to any new modification introduced by Zomato to the Licensed Content, API or this License Agreement, you must terminate this License Agreement be ceasing to use the API and Licensed Content within 10 (ten) days from such modification.<br/>
License to Zomato Marks: Subject to the terms of this License Agreement, Zomato hereby grants you a non-transferable, non-exclusive, revocable, non-sublicensable, royalty-free license to use, reproduce and display Zomato’s name, trademarks, service marks and logos identified as set out in the License Content Usage Guidelines (collectively, “Marks”), solely for purposes of performing your obligations or exercising your rights under this License Agreement and strictly in accordance with the License Content Usage Guidelines.<br/>
Attribution: All content pages which contain Licensed Content will have a ‘Powered By Zomato’ attribution as described in the Trademark Use Guidelines. Each website content page will have a do-follow link to www.zomato.com, which link will open www.zomato.com in a new window. Each mobile app content page will have a link to open the Zomato mobile app or, if the Zomato app is not installed, to the mobile device’s app store (e.g., Google Play or Apple’s App Store)<br/>
Obligations of Developer<br/>
Developer Platform: You are responsible for all costs and expenses related to the Developer Application, the Developer Platform, and the integration of the API and/ or the Licensed Content (as applicable) therein.
Compliance: You shall comply with this License Agreement, the Zomato Terms of Use, the Trademark Usage Guidelines, the Zomato Privacy Policy and any other Zomato policy to your use of the API, Licensed Content, Marks and documentation, as the same may be amended by Zomato from time to time.
Credentials: You will be provided with the API credentials , which will be in the form of a secure electronic key provided by Zomato. You shall not share API key with any third party and shall keep the API key safe and secure. You shall only use the API key for the Developer Applications. Zomato reserves the right to (a) issue new API keys to you from time to time; and (b) suspend your API key at its sole discretion. In the event you are unable to access the API with your existing API key, please contact Zomato at api@zomato.com.
Reporting: You will immediately report any security flaws in the API or the Licensed Content or infringement of Marks, and any actual or suspected unauthorized access to the API.
No Modification of Licensed Content: You shall not modify or edit Licensed Content except for formatting changes solely for the purpose of integrating the Licensed Content into the Developer Application, provided that such modification shall not adversely affect the attribution required by Section 3.4.</p>
</td>

          <!-- List end -->
         
          
        </div>
      </div>
    </article>
    <sectionCategory/>
  </div>
</template>


<script>
import promoHeader from '@/components/sections/promoHeader'
import sectionCategory from '@/components/sections/sectionCategory'
export default  {
  name: 'policy',
  components: {
    promoHeader, sectionCategory
  }
}
</script>

<style>
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
