<template>
 <div class="content__">
    <v-layout>
      <div class="content__wrapper" style="margin-top: 60px;">
        <div class="row">
          <div class="col-lg-12">
                <div class="container">
                    <h1 class="judul"> Frequently Asked Quastion </h1>
                    <br>
                    <div id="faq">
                        <div class="p1">
                            <h3> What is AKKRU? What can I use it for? </h3>
                            <p> If you love to actively control what’s happening in your life and have total power over it, AKKRU is one of the best tools that can bring you such power. AKKRU provides you with a solution for your personal finance: expense tracking for smarter spending habit. It’s a powerful tool to track your personal finance: incomes and expenses</p>
                        </div>
                        <br>

                        <div class="p2">
                            <h3> How to add income and expense transaction?</h3>
                            <p> Please click the "Add" button at the bottom left corner of the homepage.</p>
                        </div>
                        <br>

                        <div class="p3">
                            <h3> Can I use AKKRU in other devices? </h3>
                            <p>Yes, AKKRU work seamlessly across all devices. In case you have registered AKKRU account, you only need to login in other devices to continue use AKKRU. We support Android, iOS, and Web.</p>
                        </div>
                        <br>
                       <div class="p3">
                        <h3>How to see my monthly summary?</h3>
                        <p>Go to profile page, you can see your spending summary based on categories. </p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
      </div>  
    </v-layout>
 </div>
</template>

<script>  
export default {
  name: 'userFaq',
}
</script>

<style>

.judul {
font-family: Catamaran;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 48px;
text-align: center;

color: #000000;

}

#faq {
font-family: Catamaran;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 18px;
text-align: justify;

color: #000000;

}


</style>

