<template>
 <div class="content__">
    <v-layout>
      <div class="content__wrapper" style="margin-top: 60px;">
        <div class="row">
          <div class="col-lg-12">
            <div>
              <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="dataTable.search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
              <v-data-table
                :headers="dataTable.headers"
                :items="dataTable.data"
                :search="dataTable.search"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.name }}</td>
                  <td class="text-xs-left">{{ props.item.total | currency }}</td>
                  <td class="text-xs-left">{{ props.item.merchant }}</td>
                  <td class="text-xs-left">{{ props.item.date | moment("MM/DD/YYYY")}}</td>
                  <td class="text-xs-left">{{ props.item.created_at | moment("MM/DD/YYYY") }}</td>
                  <td class="justify-start layout px-0">
                    <v-icon
                      small
                      class="mr-3 pt-3"
                      title="view"
                      @click="view(props.item.id)"
                    >
                      visibility
                    </v-icon>
                    <v-icon
                      small
                      class="pt-3"
                      title="delete"
                      @click="getDeleteId(props.item.id)"
                    >
                      delete
                    </v-icon>
                  </td>
                </template>
                <v-alert slot="no-results" :value="true" icon="warning" outline>
                  Your search for "{{ dataTable.search }}" found no results.
                </v-alert>
              </v-data-table>

            <!-- View Dialog -->
            <v-dialog v-model="viewDialog" max-width="400">
              <v-card>
                <v-card-title class="headline">Detail</v-card-title>
                <v-divider></v-divider>
                <v-card-text v-if="dataTable.detail">
                  <b>Name</b>: {{dataTable.detail.name}}<hr>
                  <b>Total</b>: {{ dataTable.detail.total | currency}}<hr>
                  <b>Merchant</b>: {{ dataTable.detail.merchant}}<hr>
                  <b>Created</b>: {{dataTable.detail.created_at | moment("MM/DD/YYYY")}}<hr>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn color="green darken-1" flat @click.native="viewDialog = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- View Dialog -->

                      <!-- Destroy Dialog start -->
            <v-dialog
              v-model="destroyDialog"
              max-width="300"
            >
              <v-card>
                <v-card-title class="headline">Are you sure to delete this expense?</v-card-title>

                <v-card-text>
                  Please choose your answer
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn
                    id="BtnDisaggre"
                    color="green darken-1"
                    flat="flat"
                    @click="destroyDialog = false"
                  >
                    Disagree
                  </v-btn>

                  <v-btn
                    id="BtnAggre"
                    color="green darken-1"
                    flat="flat"
                    @click="destroy(deleteId)"
                  >
                    Agree
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- Destroy Dialog end -->

            <v-snackbar
              v-model="snackbar"
              :bottom="true"
              :timeout="6000">
              {{snackbarText}}
              <v-btn
                id="btnClose"
                color="pink"
                flat
                @click="snackbar = false"
              >
                Close
              </v-btn>
            </v-snackbar>

            </div>
          </div>
        </div>
      </div>  
    </v-layout>
 </div>
</template>

<script>
import api from '@/helpers/api'
export default {
  name: 'userIndex',
  data() {
    return {
      user: null,
      postDialog: false,
      viewDialog: false,
      destroyDialog: false,
      snackbar: false,
      snackbarText: '',
      dataTable: {
        search: '',
        headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Total', value: '' },
          { text: 'Merchant', value: 'merchant' },
          { text: 'Created', value: 'created_at' },
          { text: 'Date', value: 'date' },
          { text: 'Actions', value: 'name', sortable: false }
        ],
        data : []
      },
    }
  },
  created() {
    this.getExpense()
  },
  methods: {
    // Get Expense
    async getExpense() {
      try {
        const response = await api.get(`https://akkruproject.herokuapp.com/v1/expense/`)
        if(response.data.result === true) {
          this.dataTable.data = response.data.expenses
        }
      }catch(err) {}
    },
    // Show Category
    // @params id
    view(id) {
      this.viewDialog = true
      const item = this.dataTable.data.find(index => index.id === id)
      this.dataTable.detail = item
    },
    getDeleteId(id) {
      this.deleteId = id
      this.destroyDialog = true
      const item = this.dataTable.data.find(index => index.id === id)
      this.editForm.name = item.name
    },
    // Destroy Category
    // @params id
    async destroy() {
      try {
        this.postDialog = true
        this.destroyDialog = false
        const response = await api.delete('https://akkruproject.herokuapp.com/v1/expense/'+this.deleteId)
        if(response.data.result === true) {
          this.snackbarText = 'Income successfully deleted'
          let idx = this.dataTable.data.findIndex(item => item.id === this.deleteId)
          this.dataTable.data.splice(idx, 1)
        } else {
          this.snackbarText = 'Update failed'
        }
      } catch(e){
        this.snackbar = true
        this.snackbarText = err.message
      }
      finally{
        this.postDialog = false
        this.snackbar = true
      }
    }
  }
}
</script>