<template>
 <div class="content__">
    <v-layout>
      <div class="content__wrapper" style="margin-top: 60px;">
        <div class="row">
          <div class="col-lg-12">
            <div>
              <v-form v-model="editForm.valid" ref="editForm">

                <div class="avatar__preview" v-if="editForm.imageEditPreview === ''">
                  <!-- <div v-if="dataTable.detail">
                    <img v-if="dataTable.detail.avatar.url !== null" :src="dataTable.detail.avatar.url" width="100" height="100">
                  </div> -->
                  <label for="avatarEdit">
                    Avatar
                  </label>
                  <input class="avatar" type="file" id="avatarEdit" name="avatarEdit" ref="avatarEditFile" @change="handleImageEdit" accept="image/*"> 
                </div>
                <div v-else class="avatar__preview">
                  <img :src="editForm.imageEditPreview" width="100" height="100"/>
                  <button type="button" @click="removeImageEdit">Hapus avatar</button> 
                </div>
                <v-text-field
                  v-model="editForm.name"
                  label="Name"
                  placeholder="Name"
                  :rules="editForm.nameRules"
                  box
                  required
                ></v-text-field>
                <v-text-field
                  v-model="editForm.email"
                  label="E-mail"
                  placeholder="E-mail"
                  :rules="editForm.emailRules"
                  box
                  required
                ></v-text-field>
                <v-text-field
                  v-model="editForm.password"
                  label="Password"
                  placeholder="Password"
                  :rules="[editForm.passwordRules.required, editForm.passwordRules.min]"
                  :append-icon="editForm.show1 ? 'visibility' : 'visibility_off'"
                  :type="editForm.show1 ? 'text' : 'password'"
                  @click:append="editForm.show1 = !editForm.show1"
                  box
                  required
                ></v-text-field>
                <v-text-field
                  v-model="editForm.password_confirmation"
                  label="Confirmation Password"
                  placeholder="Confirmation Password"
                  :rules="[editForm.passwordRules.required, editForm.passwordRules.passwordMatch]"
                  :append-icon="editForm.show2 ? 'visibility' : 'visibility_off'"
                  :type="editForm.show2 ? 'text' : 'password'"
                  @click:append="editForm.show2 = !editForm.show2"
                  box
                  required
                ></v-text-field>
                <v-btn @click="update" color="primary">Save</v-btn>
              </v-form>
            </div>
          </div>
        </div>
      </div>  
    </v-layout>

    <!-- Post Dialog start-->
    <v-dialog v-model="postDialog" persistent max-width="290">
      <v-card>
        <v-card-text> 
          <v-progress-circular
            :size="30"
            color="primary"
            indeterminate
          ></v-progress-circular>
          Please wait...
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- Post Dialog end -->
    

    <v-snackbar
      v-model="snackbar"
      :bottom="true"
      :timeout="6000">
      {{snackbarText}}
      <v-btn
        color="pink"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

 </div>
</template>

<script>
import api from '@/helpers/api'
export default {
  name: 'userIndex',
  data() {
    return {
      postDialog: false,
      snackbar: false,
      snackbarText: '',

      editForm: {
        imageEditPreview: '',
        avatarEdit: null,

        valid: false,
        valid: false,
        name: '',
        nameRules: [
          v => !!v || 'Name is required',
        ],
        username: '',
        usernameRules: [
          v => !!v || 'Username is required',
        ],
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => (v && /.+@.+/.test(v)) || 'E-mail must be valid'
        ],
        password: '',
        password_confirmation: '',
        show1: false,
        show2: false,
        passwordRules: {
          required: v => !!v || 'Password is required',
          min: v => (v && v.length >= 6) || 'Min 6 characters',
          passwordMatch: v => v == this.editForm.password || 'The password you entered don\'t match'
        },
      }, 

    }
  },
  methods: {
    // Image Preview avatar
    handleImageEdit(e) {
      this.editForm.avatarEdit = this.$refs.avatarEditFile.files[0];
      console.log(this.$refs.avatarEditFile.files[0])
      let reader  = new FileReader();
      reader.onload = (e) => {
        this.editForm.imageEditPreview = e.target.result;
      };
      if( this.editForm.avatarEdit ){
        reader.readAsDataURL( this.editForm.avatarEdit );
      }
      if(this.editForm.avatarEdit.size > 2000000) {
        alert('Maximal file size 2MB')
        setTimeout(() =>{
          this.editForm.imageEditPreview = ''
        }, 500)
      }
    },
    // Remove Image Preview avatar
    removeImageEdit: function (e) {
      this.editForm.imageEditPreview = '';
    },
    async update() {
      try {
        this.postDialog = true
        const response = await api.put('https://akkruproject.herokuapp.com/v1/user/2', {
          name: this.editForm.name,
          email: this.editForm.email,
          password: this.editForm.password,
          avatar: this.editForm.avatarEdit
        })
        if(response.data.result === true) {
          this.snackbarText = 'User successfully update.'
          setTimeout(() => {
            this.editDialog = false;
            this.$refs.editForm.reset()
            this.getUser()
          }, 1000)
        } else {
          this.snackbarText = 'Update failed'
        }
      } catch (err) {
        this.snackbar = true
        this.snackbarText = err.message
      } finally{
        this.postDialog = false
        this.snackbar = true
      }
    },
  }
}
</script>