<template>
  <div>
    <v-navigation-drawer style="background: #c3311d"
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
    >
      <div v-if="user" class="auth--admin">
        <div class="name">{{user.name}}</div>
        <div class="email">{{user.email}}</div>
      </div>
      <v-list dense class="list--menu">
          <template>
            <v-list-tile @click="category">
              <v-list-tile-action>
                <img src="../../assets/icons/VectorOutlet.png" alt="Accrue App">
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Category
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile @click="income">
              <v-list-tile-action>
                <img src="../../assets/icons/VectorMenu.png" alt="Accrue App">
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Income
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

             <v-list-tile @click="expanse">
              <v-list-tile-action>
                <img src="../../assets/icons/VectorUser.png" alt="Accrue App">
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Expense
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile @click="users">
              <v-list-tile-action>
                <img src="../../assets/icons/VectorUser.png" alt="Accrue App">
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  User
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-group 
              v-model="item.model"
              :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="" style="color: #fff"> <!-- Group Accordion -->
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>
                    Chart
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile @click="chartUser"><!-- v-for-->
                <v-list-tile-content>
                  <v-list-tile-title>
                    User
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile @click="chartIncome"><!-- v-for-->
                <v-list-tile-content>
                  <v-list-tile-title>
                    Income
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile @click="chartExpense"><!-- v-for-->
                <v-list-tile-content>
                  <v-list-tile-title>
                    Expense
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-group> <!-- Group Accordion -->
          </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      dark
      app
      fixed
    >
      <v-toolbar-title class="ml-0 pl-3 title_" @click="dashboard">
        <span><router-link to="/dashboard/admin"><img src="../../assets/images/logo_new.png" alt="Akkru App" style="max-width: 145px;"></router-link></span>
      </v-toolbar-title>
      <v-toolbar-side-icon style="color: #222" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
     <!--  <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field> -->
      <v-spacer></v-spacer>
      <v-menu
          transition="slide-y-transition"
          min-width="200">
        <v-btn icon
          slot="activator"
          dark
        >
          <v-avatar size="25px" tile>
            <img
              src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
              alt="Vuetify"
            >
          </v-avatar>
        </v-btn>
        <v-list>
          <v-list-tile @click="password">
            <v-list-tile-action>
                <v-icon>perm_identity</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Edit Profile
                </v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>
           <v-list-tile @click="logout">
            <v-list-tile-action>
                <v-icon>exit_to_app</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Logout
                </v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
  </div>
</template>
<script>
import api from '@/helpers/api'
export default {
  name: 'adminHeader',
  data(){
    return {
      drawer: null,
      item: {
        icon: 'keyboard_arrow_up',
        'icon-alt': 'keyboard_arrow_down',
        text: 'Labels',
        model: false,
      },
      user: null,
    }
  },
  props: {
    source: String
  },
  created() {
    this.$nextTick(() => {
      this.check()
      
    })
  },
  methods: {
    // Check auth admin
    async check() {
      try {
        const response = await api.get(`https://akkruproject.herokuapp.com/v1/admin/1`)
        if(response.data.result === true) {
          this.user = response.data.admin
        }
      } catch(err) {

      }
    },
    dashboard() {
      this.$router.push('/dashboard/admin')
    },
    category() {
      this.$router.push('/dashboard/admin')
    },
    income() {
      this.$router.push('/dashboard/admin/income')
    },
    expanse(){
      this.$router.push('/dashboard/admin/expense')
    },
    users() {
      this.$router.push('/dashboard/admin/user')
    },
    chartUser() {
      this.$router.push('/dashboard/admin/chart-user')
    },
    chartIncome() {
      this.$router.push('/dashboard/admin/chart-income')
    },
    chartExpense() {
      this.$router.push('/dashboard/admin/chart-expense')
    },
    logout() {
      localStorage.removeItem('adminToken');
      window.location.href = '/admin/login'
    },
    password() {
      this.$router.push('/dashboard/admin/profile');
    },
  }
}
</script>