<template>
  <div>
    <v-navigation-drawer style="background: #c3311d"
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
    >
      <div v-if="user" class="auth--admin">
        <div class="name">{{user.name}}</div>
        <div class="email">{{user.email}}</div>
      </div>
      <v-list dense class="list--menu">
          <template>
            <v-list-tile @click="dashboard" id="DataTrans">
              <v-list-tile-content>
                <v-list-tile-title>
                  Expense
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile @click="report" id="DataGraf">
              <v-list-tile-content>
                <v-list-tile-title>
                  Grafic
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile @click="profile" id="DataProf">
              <v-list-tile-content>
                <v-list-tile-title>
                  Edit Profile
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

          </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      class="no-border"
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      dark
      app
      fixed
    >
      <v-toolbar-title class="ml-0 pl-3 title_ title-white" @click="dashboard">
        <v-toolbar-side-icon style="color: #222" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span><router-link to="/dashboard/user"><img src="../../assets/images/logo_new.png" alt="Akkru App" style="max-width: 145px;"></router-link></span>
      </v-toolbar-title>
      
      <v-spacer></v-spacer>
      <div class="#">
        <nav class="ava">
          <ul>
            <li><router-link to="/">Home</router-link></li>
            <li><router-link to="/dashboard/user/faq">Faq</router-link></li>
          </ul>              
        </nav>
      </div>
      <v-menu
          transition="slide-y-transition"
          min-width="200">
        <v-btn icon
          id="MenuUser"
          slot="activator"
          dark
        >
          <v-avatar size="25px" tile>
            <img src="../../assets/icons/user.png" width="20" height="20">
          </v-avatar>
        </v-btn>
        <v-list>
          <!-- <v-list-tile @click="password">
            <v-list-tile-action>
                <v-icon>perm_identity</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Change Password
                </v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile> -->
           <v-list-tile @click="logout" id="LogoutUser">
            <v-list-tile-action>
                <v-icon>exit_to_app</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Logout
                </v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
  </div>
</template>
<script>
import api from '@/helpers/api';
export default {
  name: 'userHeader',
  data(){
    return {
      drawer: null, 
      user: null,
    }
  },
  props: {
    source: String
  },
  created() {
    this.check()
  },
  methods: {
    // Check auth admin
    async check() {
      try {
        const response = await api.get(`https://akkruproject.herokuapp.com/v1/user`)
        if(response.data.result === true) {
          this.user = response.data.user
        }
      } catch(err) {

      }
    },
    dashboard() {
      this.$router.push('/dashboard/user')
    },
    report() {
      this.$router.push('/dashboard/user/report')
    },
    profile() {
      this.$router.push('/dashboard/user/profile')
    },
    logout() {
      localStorage.removeItem('userToken');
      window.location.href = '/'
    },
    password() {
      this.$router.push('/dashboard/user/profile')
    },
  }
}
</script>
<style scoped>
.ava{
margin-right: 100px;
margin-top: 2%;
margin-left: -400px;
float: right;
}
.ava ul{
  padding: 0;
  margin:0;
}
.ava ul li{
  display: inline-block;
  padding-right: 15px;
}
.ava ul li a{
  color: #222;
}
</style>
