<template>
 <div class="content__">
   <div class="header__">
      <div class="header__heading">
        <ol>
          <li>Categories</li>
        </ol>
      </div>
    </div>
    <v-layout>
      <div class="content__wrapper">
        <div class="content___ box-shadow">
          <div class="box card-table">
            <div class="fab-btn">
              <v-btn class="btn__" color="primary" ripple fab medium dark @click="add">
                <v-icon>add</v-icon>
              </v-btn>
            </div>
            <v-card-title>
              Data Categories
              <v-spacer></v-spacer>
              <v-text-field
                id="SearchCat"
                v-model="dataTable.search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="dataTable.headers"
              :items="dataTable.data"
              :search="dataTable.search"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-left">{{ props.item.created_at | moment("MM/DD/YYYY") }}</td>
                <td class="justify-start layout px-0">
                  <v-icon
                    id="ViewCat"
                    small
                    class="mr-3 pt-3"
                    title="view"
                    @click="view(props.item.id)"
                  >
                    visibility
                  </v-icon>
                  <v-icon
                    id="EditCat"
                    small
                    class="mr-3 pt-3"
                    title="edit"
                    @click="edit(props.item.id)"
                  >
                    edit
                  </v-icon>
                  <v-icon
                    id="DelCat"
                    small
                    class="pt-3"
                    title="delete"
                    @click="getDeleteId(props.item.id)"
                  >
                    delete
                  </v-icon>
                </td>
              </template>
              <v-alert slot="no-results" :value="true" icon="warning" outline>
                Your search for "{{ dataTable.search }}" found no results.
              </v-alert>
            </v-data-table>

            <!-- View Dialog -->
            <v-dialog v-model="viewDialog" max-width="400">
              <v-card>
                <v-card-title class="headline">Detail</v-card-title>
                <v-divider></v-divider>
                <v-card-text v-if="dataTable.detail">
                  Name: {{dataTable.detail.name}}<hr>
                  Created: {{ dataTable.detail.created_at | moment("MM/DD/YYYY") }}<hr>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn id="CloseCat" color="green darken-1" flat @click.native="viewDialog = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- View Dialog -->

            <!-- Create Dialog start -->
            <v-dialog v-model="createDialog" max-width="400">
              <v-card>
                <v-card-title class="headline">Add Category</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-form v-model="createForm.valid" ref="createForm">
                   <v-text-field
                      id="catCre"
                      label="Category"
                      placeholder="...."
                      box
                      v-model="createForm.name"
                      :rules="createForm.nameRules"
                      required
                      
                    ></v-text-field>
                  </v-form>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn id="CanCat2" color="green darken-1" flat @click.native="createDialog = false">Cancel</v-btn>
                  <v-btn id="CatSav2" color="green darken-1" flat @click="create" :disabled="!createForm.valid">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- Create Dialog end-->

            <!-- Create Dialog start -->
            <v-dialog v-model="editDialog" max-width="400">
              <v-card>
                <v-card-title class="headline">Edit Category</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-form v-model="editForm.valid" ref="editForm">
                   <v-text-field
                      id="editCat"
                      label="Category"
                      placeholder="...."
                      box
                      v-model="editForm.name"
                      :rules="editForm.nameRules"
                      required
                    ></v-text-field>
                  </v-form>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn id="CanEdit3" color="green darken-1" flat @click.native="editDialog = false">Cancel</v-btn>
                  <v-btn id="CanSav3" color="green darken-1" flat @click="update(editId)" :disabled="!editForm.valid">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- Create Dialog end-->

            <!-- Destroy Dialog start -->
            <v-dialog
              v-model="destroyDialog"
              max-width="300"
            >
              <v-card>
                <v-card-title class="headline">Are you sure to delete this category?</v-card-title>

                <v-card-text>
                  Please choose your answer
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn
                    id="DisCat3"
                    color="green darken-1"
                    flat="flat"
                    @click="destroyDialog = false"
                  >
                    Disagree
                  </v-btn>

                  <v-btn
                    id="AgrCat3"
                    color="green darken-1"
                    flat="flat"
                    @click="destroy(deleteId)"
                  >
                    Agree
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- Destroy Dialog end -->

            <!-- Post Dialog start-->
            <v-dialog v-model="postDialog" persistent max-width="290">
              <v-card>
                <v-card-text> 
                  <v-progress-circular
                    :size="30"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  Please wait...
                </v-card-text>
              </v-card>
            </v-dialog>
            <!-- Post Dialog end -->

            <v-snackbar
              v-model="snackbar"
              :bottom="true"
              :timeout="6000">
              {{snackbarText}}
              <v-btn
                id="CloseCat3"
                color="pink"
                flat
                @click="snackbar = false"
              >
                Close
              </v-btn>
            </v-snackbar>

          </div>
        </div>
      </div>
    </v-layout>
 </div>
</template>

<script>  
import api from '@/helpers/api'
export default {
  layout: 'adminDashboard',
  name: 'adminCategory',
  data () {
    return {
      postDialog: false,
      viewDialog: false,
      createDialog: false,
      editDialog: false,
      destroyDialog: false,
      snackbar: false,
      snackbarText: '',

      dataTable: {
        search: '',
        headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Created', value: 'created_at' },
          { text: 'Actions', value: 'name', sortable: false }
        ],
        data : [],

        //View,Edit
        detail: null,
        edit: null,
      },

      createForm: {
        valid: false,
        name: '',
        nameRules: [
          v => !!v || 'Name is required',
        ],
      }, 

      editForm: {
        valid: false,
        name: '',
        nameRules: [
          v => !!v || 'Name is required',
        ],
      }, 

      editId: '',
      deleteId: '',
    }
  },
  created() {
    this.getCategories()
  },
  methods: {
    // Get List Categories
    async getCategories() {
      try {
        const response = await api.get(`https://akkruproject.herokuapp.com/v1/category`)
        if(response.data.result === true) {
          this.dataTable.data = response.data.categories
        }
      } catch(err) {}
    },
    // Add Category
    // @vars boolean
    add() {
      this.createDialog = true
    },
    // Show Category
    // @params id
    view(id) {
      this.viewDialog = true
      const item = this.dataTable.data.find(index => index.id === id)
      this.dataTable.detail = item
    },
    // Edit Category
    // @params id
    edit(id) {
      this.editId = id
      this.editDialog = true
      const item = this.dataTable.data.find(index => index.id === id)
      this.editForm.name = item.name
    },
    getDeleteId(id) {
      this.deleteId = id
      this.destroyDialog = true
      const item = this.dataTable.data.find(index => index.id === id)
      this.editForm.name = item.name
    },
    // Create Category
    // @params name
    async create() {
      try {
        this.postDialog = true
        const response = await api.post('https://akkruproject.herokuapp.com/v1/category/create', {
          name: this.createForm.name,
        })
        if(response.data.result === true) {
          this.snackbarText = 'Category successfully added.'
          setTimeout(() => {
            this.createDialog = false;
            this.$refs.createForm.reset()
            this.getCategories()
          }, 1000)
        } else {
          this.snackbarText = 'Update failed'
        }
      } catch (err) {
        this.snackbar = true
        this.snackbarText = err.message
      } finally{
        this.postDialog = false
        this.snackbar = true
      }
    },
    // Updae Category
    // @params name
    async update() {
      try {
        this.postDialog = true
        const response = await api.put('https://akkruproject.herokuapp.com/v1/category/' + this.editId, {
          name: this.editForm.name,
        })
        if(response.data.result === true) {
          this.snackbarText = 'Category successfully update.'
          setTimeout(() => {
            this.editDialog = false;
            this.$refs.editForm.reset()
            this.getCategories()
          }, 1000)
        } else {
          this.snackbarText = 'Update failed'
        }
      } catch (err) {
        this.snackbar = true
        this.snackbarText = err.message
      } finally{
        this.postDialog = false
        this.snackbar = true
      }
    },
    // Destroy Category
    // @params id
    async destroy() {
      try {
        this.postDialog = true
        this.destroyDialog = false
        const response = await api.delete('https://akkruproject.herokuapp.com/v1/category/'+this.deleteId)
        if(response.data.result === true) {
          this.snackbarText = 'Category successfully deleted'
          let idx = this.dataTable.data.findIndex(item => item.id === this.deleteId)
          this.dataTable.data.splice(idx, 1)
        } else {
          this.snackbarText = 'Update failed'
        }
      } catch(e){
        this.snackbar = true
        this.snackbarText = err.message
      }
      finally{
        this.postDialog = false
        this.snackbar = true
      }
    }

  }
}
</script>