<template>
 <div class="content__">
   <div class="header__">
      <div class="header__heading">
        <ol>
          <li>Edit Profile</li>
        </ol>
      </div>
    </div>
    <v-layout>
      <div class="content__wrapper">
        <div class="content___ box-shadow">
          <div class="box">
            <div class="fab-btn">
              <v-btn id="backSpace" class="btn__" color="primary" ripple fab medium dark @click="back">
                <v-icon>keyboard_backspace</v-icon>
              </v-btn>
            </div>

            <v-form v-model="editForm.valid" ref="editForm">
               <v-text-field
                id="NameProf"
                v-model="editForm.name"
                label="Name"
                placeholder="Name"
                :rules="editForm.nameRules"
                required
              ></v-text-field>
              <v-text-field
                id="EmailProf"
                v-model="editForm.email"
                label="E-mail"
                placeholder="E-mail"
                :rules="editForm.emailRules"
                required
              ></v-text-field>
              <v-text-field
                id="PassProf"
                v-model="editForm.password"
                label="Password"
                placeholder="Password"
                :rules="[editForm.passwordRules.required, editForm.passwordRules.min]"
                :append-icon="editForm.show1 ? 'visibility' : 'visibility_off'"
                :type="editForm.show1 ? 'text' : 'password'"
                @click:append="editForm.show1 = !editForm.show1"
                required
              ></v-text-field>
              <v-text-field
                id="ConPassProf"
                v-model="editForm.password_confirmation"
                label="Confirmation Password"
                placeholder="Confirmation Password"
                :rules="[editForm.passwordRules.required, editForm.passwordRules.passwordMatch]"
                :append-icon="editForm.show2 ? 'visibility' : 'visibility_off'"
                :type="editForm.show2 ? 'text' : 'password'"
                @click:append="editForm.show2 = !editForm.show2"
                required
              ></v-text-field>
              <v-btn id="SavProf" @click="edit" :disabled="!editForm.valid" color="primary">Save</v-btn>
            </v-form>

            <v-dialog v-model="postDialog" persistent max-width="290">
              <v-card>
                <v-card-text> 
                  <v-progress-circular
                    :size="30"
                    color="primary"
                    indeterminate
                  ></v-progress-circular>
                  Please wait...
                </v-card-text>
              </v-card>
            </v-dialog>

            <v-snackbar
              v-model="snackbar"
              :bottom="true"
              :timeout="6000">
              {{snackbarText}}
              <v-btn
                id="ClosProf"
                color="pink"
                flat
                @click="snackbar = false"
              >
                Close
              </v-btn>
            </v-snackbar>

          </div>
        </div>
      </div>
    </v-layout>
 </div>
</template>

<script>
import api from '@/helpers/api'
export default {
  layout: 'dashboard',
  name: 'adminProfile',
  data() {
    return {
      postDialog: false,
      snackbar: false,
      snackbarText: '',

      userId: '',

      editForm: {
        valid: false,
        name: '',
        nameRules: [
          v => !!v || 'Name is required',
        ],
        username: '',
        usernameRules: [
          v => !!v || 'Username is required',
        ],
        email: '',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => (v && /.+@.+/.test(v)) || 'E-mail must be valid'
        ],
        password: '',
        password_confirmation: '',
        show1: false,
        show2: false,
        passwordRules: {
          required: v => !!v || 'Password is required',
          min: v => (v && v.length >= 6) || 'Min 6 characters',
          passwordMatch: v => v == this.editForm.password || 'The password you entered don\'t match'
        },
      }      
    }
  },
  mounted() {
    this.check()
  },
  methods: {
    back() {
      return this.$router.push('/dashboard/admin')
    },
    async edit() {
      try {
        this.postDialog = true
        const response = await api.post(`https://akkruproject.herokuapp.com/v1/admin/` + this.userId, {
          name: this.editForm.name,
          email: this.editForm.email,
          password: this.editForm.password,
          password_confirmation: this.editForm.password_confirmation
        })
        if(response.status === 200) {
          this.snackbar = true
          this.snackbarText = 'Success'
          this.$refs.editForm.reset()
        }
      } catch(err) {
        this.snackbar = true
        this.snackbarText = err.message
      }
      finally {
        this.postDialog = false
      }
    },
    // Check auth admin
    async check() {
      try {
        const response = await api.get(`https://akkruproject.herokuapp.com/v1/admin/1`)
        if(response.status === 200) {
          this.userId = response.data.admin.id
        }
      } catch(err) {

      }
    },
  },
}
</script>