<template>
 <div class="content__">
   <div class="header__">
      <div class="header__heading">
        <ol>
          <li>Income Chart</li>
        </ol>
      </div>
    </div>
    <v-layout>
      <div class="content__wrapper">
        <div class="content___ box-shadow">
          <div>
            <userBarChart :chart-data="datacollection" :options="options" :width="600" :height="400"/>
          </div>
        </div>
      </div>
    </v-layout>
 </div>
</template>

<script>  
import userBarChart from '@/components/dashboard/userBarChart'
import VueCharts from 'vue-chartjs'
import { Bar } from 'vue-chartjs'
import api from '@/helpers/api'
export default {
  layout: 'adminDashboard',
  name: 'adminChartIncome',
  components: {
    userBarChart
  },
  data () {
    return {
      dataChart: [],
      dataLabel: [],
      dataSet: [],
      datacollection: null,
      options: null,
    }
  },
  mounted() {
    this.getChart()
  },
  methods: {
    async getChart() {
      try {
        const response = await api.get(`https://akkruproject.herokuapp.com/v1/adminchartincome`)
        const chart = response.data.chart_income
        const dataLabel = []
        const dataSet = []
        for(let item in chart) {
          // this.datacollection.labels[item] = chart[item][0].date
          // this.datacollection.datasets[0].data[item] = chart[item][0].value
          dataLabel[item] = chart[item][0].date
          dataSet[item] = chart[item][0].value
        }

      this.datacollection = {
      labels: dataLabel,
        datasets: [
          {
            label: 'Data Transaksi',
            data: dataSet,
            backgroundColor: 'rgb(195, 49, 29)',
            borderColor: 'transparent',
            borderWidth: 10,
          },
        ],
      },
      this.options = {
        responsive: true, 
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            gridLines:{
              color: "#fff",
              lineWidth:1,
              zeroLineColor :"#ccc",
              zeroLineWidth : 1
            },
            // stacked: true
          }],
          xAxes: [{
            barPercentage: 0.8,
            ticks:{
              // fontColor : 'rgb(195, 49, 29)',
              beginAtZero: true,
              fontSize : 14
            },
            gridLines:{
              color: "#fff",
              lineWidth:2
            }
          }]
        },
        legend: {
          display: false
        },
        tooltips: {
          enabled: true,
          mode: 'single',
          // backgroundColor: '#f2f2f2',
          // bodySpacing: '10',
          callbacks: {
            label: function(tooltipItems, data) {
              return 'Data Transaksi Rp .' + tooltipItems.yLabel;
            }
          }
        },
      }
      } catch(err){}
    }
  }
}
</script>