<template>
  <div id="dashboard">
    <v-app>
      <template>
        <div class="dashboard__">
          <template>
            <admin-header></admin-header>
          </template>
          <v-content>
            <v-container fluid fill-height>
              <router-view/>
            </v-container>
          </v-content>
        </div>  
      </template>
    </v-app>
  </div>
</template>
<script>
import adminHeader from '@/components/dashboard/adminHeader'
export default {
  name: 'adminDashboard',
  components: { adminHeader }
}
</script>