<template>
  <div>
      <section-header></section-header>
      <div class="container">
        <router-view />
      </div>
  </div>
</template>
<script>
import sectionHeader from '@/components/sections/sectionHeader'
export default {
  name: 'landing',
  components: {
    sectionHeader
  },
}
</script>