<template>
  <div id="login__register">
    <v-app>
      <v-slide-y-transition>
        <router-view />
      </v-slide-y-transition>
    </v-app>
  </div>
</template>
<script>
  export default {
    name: 'login'
  }
</script>