<template>
  <div id="dashboard">
    <v-app style="background: #fff">
      <template>
        <div class="dashboard__">
          <template>
            <user-header></user-header>
          </template>
          <v-content>
            <v-container fluid fill-height>
              <router-view/>
            </v-container>
          </v-content>
        </div>  
      </template>
    </v-app>
  </div>
</template>

<script>
import userHeader from '@/components/dashboard/userHeader'
export default {
  name: 'userDashboard',
  components: { userHeader }
}
</script>

<style>

</style>
