<template>
  <div>
    <v-app>
      <section id="login">
        <h3 class="mb-4 pb-4">Login</h3>
        <v-form v-model="valid">
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            id="log_email"
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Password"
            type="password"
            id="log_password"
            required
          ></v-text-field>
          <v-btn id="BtnAdmLog" class="primary-btn" @click="login" :disabled="!valid" color="primary">Login</v-btn>
        </v-form>
        <p class="pt-4 pb-4">AKKRU v1</p>
        <!-- <v-list>
          <v-list-tile>
            <v-list-tile-action>
              <router-link to="/"><v-icon>keyboard_backspace</v-icon></router-link>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>back to homepage</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list> -->

        <v-layout row justify-center>
          <v-dialog v-model="postDialog" persistent max-width="290">
            <v-card>
              <v-card-text> 
                <v-progress-circular
                  :size="30"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
                Please wait...
              </v-card-text>
            </v-card>
          </v-dialog>
          <v-snackbar
            v-model="snackbar"
            :bottom="true"
            :timeout="6000">
            {{snackbarText}}
            <v-btn
              id="ClsLog"
              color="pink"
              flat
              @click="snackbar = false"
            >
              Close
            </v-btn>
          </v-snackbar>
        </v-layout>
      </section>
    </v-app>
  </div>
</template>

<script>
import api from '@/helpers/api'
export default {
  name: 'adminLogin',
  data () {
    return {
      snackbar: false,
      snackbarText: '',

      valid: false,
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => ( v && /.+@.+/.test(v)) || 'E-mail must be valid'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
      ],
      postDialog: false,
    }
  },
  methods: {
    // Login Method
    // @params auth
    // @return data
    async login( auth ) {
      try {
        this.postDialog = true
        const userToken = localStorage.getItem('userToken')
        if(userToken) {
          localStorage.removeItem('userToken')
        }
        const response = await api.post(`https://akkruproject.herokuapp.com/admin/login`, {
          auth: { email: this.email,  password: this.password }
        })
        if(response.status === 201) {
          localStorage.setItem('adminToken', response.data.jwt);
          this.snackbar = true
          this.snackbarText = 'Success'
          setTimeout(() => {
            this.email = '',
            this.password = '',
            this.$router.push('/dashboard/admin')
          }, 1000)
        }
      } catch(err){
        this.snackbar = true
        this.snackbarText = err.message
      }
      finally {
        this.postDialog = false
      }
    }
  }
}
</script>
<style lang="scss">
@import 'vuetify/dist/vuetify.min.css'
</style>
